/*
The Jira Cloud platform REST API

Jira Cloud platform REST API documentation

API version: 1001.0.0-SNAPSHOT-e4f05783a723054bc221d0780e48a2dc2ed25997
Contact: ecosystem@atlassian.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package swagger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// PrioritySchemesAPIService PrioritySchemesAPI service
type PrioritySchemesAPIService service

type ApiCreatePrioritySchemeRequest struct {
	ctx context.Context
	ApiService *PrioritySchemesAPIService
	createPrioritySchemeDetails *CreatePrioritySchemeDetails
}

func (r ApiCreatePrioritySchemeRequest) CreatePrioritySchemeDetails(createPrioritySchemeDetails CreatePrioritySchemeDetails) ApiCreatePrioritySchemeRequest {
	r.createPrioritySchemeDetails = &createPrioritySchemeDetails
	return r
}

func (r ApiCreatePrioritySchemeRequest) Execute() (*PrioritySchemeId, *http.Response, error) {
	return r.ApiService.CreatePrioritySchemeExecute(r)
}

/*
CreatePriorityScheme Create priority scheme

Creates a new priority scheme.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePrioritySchemeRequest
*/
func (a *PrioritySchemesAPIService) CreatePriorityScheme(ctx context.Context) ApiCreatePrioritySchemeRequest {
	return ApiCreatePrioritySchemeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PrioritySchemeId
func (a *PrioritySchemesAPIService) CreatePrioritySchemeExecute(r ApiCreatePrioritySchemeRequest) (*PrioritySchemeId, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PrioritySchemeId
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrioritySchemesAPIService.CreatePriorityScheme")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/priorityscheme"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPrioritySchemeDetails == nil {
		return localVarReturnValue, nil, reportError("createPrioritySchemeDetails is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPrioritySchemeDetails
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePrioritySchemeRequest struct {
	ctx context.Context
	ApiService *PrioritySchemesAPIService
	schemeId int64
}

func (r ApiDeletePrioritySchemeRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeletePrioritySchemeExecute(r)
}

/*
DeletePriorityScheme Delete priority scheme

Deletes a priority scheme.

This operation is only available for priority schemes without any associated projects. Any associated projects must be removed from the priority scheme before this operation can be performed.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param schemeId The priority scheme ID.
 @return ApiDeletePrioritySchemeRequest
*/
func (a *PrioritySchemesAPIService) DeletePriorityScheme(ctx context.Context, schemeId int64) ApiDeletePrioritySchemeRequest {
	return ApiDeletePrioritySchemeRequest{
		ApiService: a,
		ctx: ctx,
		schemeId: schemeId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *PrioritySchemesAPIService) DeletePrioritySchemeExecute(r ApiDeletePrioritySchemeRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrioritySchemesAPIService.DeletePriorityScheme")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/priorityscheme/{schemeId}"
	localVarPath = strings.Replace(localVarPath, "{"+"schemeId"+"}", url.PathEscape(parameterValueToString(r.schemeId, "schemeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAvailablePrioritiesByPrioritySchemeRequest struct {
	ctx context.Context
	ApiService *PrioritySchemesAPIService
	schemeId *string
	startAt *string
	maxResults *string
	query *string
	exclude *[]string
}

// The priority scheme ID.
func (r ApiGetAvailablePrioritiesByPrioritySchemeRequest) SchemeId(schemeId string) ApiGetAvailablePrioritiesByPrioritySchemeRequest {
	r.schemeId = &schemeId
	return r
}

// The index of the first item to return in a page of results (page offset).
func (r ApiGetAvailablePrioritiesByPrioritySchemeRequest) StartAt(startAt string) ApiGetAvailablePrioritiesByPrioritySchemeRequest {
	r.startAt = &startAt
	return r
}

// The maximum number of items to return per page.
func (r ApiGetAvailablePrioritiesByPrioritySchemeRequest) MaxResults(maxResults string) ApiGetAvailablePrioritiesByPrioritySchemeRequest {
	r.maxResults = &maxResults
	return r
}

// The string to query priorities on by name.
func (r ApiGetAvailablePrioritiesByPrioritySchemeRequest) Query(query string) ApiGetAvailablePrioritiesByPrioritySchemeRequest {
	r.query = &query
	return r
}

// A list of priority IDs to exclude from the results.
func (r ApiGetAvailablePrioritiesByPrioritySchemeRequest) Exclude(exclude []string) ApiGetAvailablePrioritiesByPrioritySchemeRequest {
	r.exclude = &exclude
	return r
}

func (r ApiGetAvailablePrioritiesByPrioritySchemeRequest) Execute() (*PageBeanPriorityWithSequence, *http.Response, error) {
	return r.ApiService.GetAvailablePrioritiesByPrioritySchemeExecute(r)
}

/*
GetAvailablePrioritiesByPriorityScheme Get available priorities by priority scheme

Returns a [paginated](#pagination) list of priorities available for adding to a priority scheme.

**[Permissions](#permissions) required:** Permission to access Jira.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAvailablePrioritiesByPrioritySchemeRequest
*/
func (a *PrioritySchemesAPIService) GetAvailablePrioritiesByPriorityScheme(ctx context.Context) ApiGetAvailablePrioritiesByPrioritySchemeRequest {
	return ApiGetAvailablePrioritiesByPrioritySchemeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PageBeanPriorityWithSequence
func (a *PrioritySchemesAPIService) GetAvailablePrioritiesByPrioritySchemeExecute(r ApiGetAvailablePrioritiesByPrioritySchemeRequest) (*PageBeanPriorityWithSequence, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageBeanPriorityWithSequence
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrioritySchemesAPIService.GetAvailablePrioritiesByPriorityScheme")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/priorityscheme/priorities/available"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.schemeId == nil {
		return localVarReturnValue, nil, reportError("schemeId is required and must be specified")
	}

	if r.startAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	} else {
		var defaultValue string = "0"
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", defaultValue, "form", "")
		r.startAt = &defaultValue
	}
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", r.maxResults, "form", "")
	} else {
		var defaultValue string = "50"
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", defaultValue, "form", "")
		r.maxResults = &defaultValue
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", defaultValue, "form", "")
		r.query = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "schemeId", r.schemeId, "form", "")
	if r.exclude != nil {
		t := *r.exclude
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPrioritiesByPrioritySchemeRequest struct {
	ctx context.Context
	ApiService *PrioritySchemesAPIService
	schemeId string
	startAt *string
	maxResults *string
}

// The index of the first item to return in a page of results (page offset).
func (r ApiGetPrioritiesByPrioritySchemeRequest) StartAt(startAt string) ApiGetPrioritiesByPrioritySchemeRequest {
	r.startAt = &startAt
	return r
}

// The maximum number of items to return per page.
func (r ApiGetPrioritiesByPrioritySchemeRequest) MaxResults(maxResults string) ApiGetPrioritiesByPrioritySchemeRequest {
	r.maxResults = &maxResults
	return r
}

func (r ApiGetPrioritiesByPrioritySchemeRequest) Execute() (*PageBeanPriorityWithSequence, *http.Response, error) {
	return r.ApiService.GetPrioritiesByPrioritySchemeExecute(r)
}

/*
GetPrioritiesByPriorityScheme Get priorities by priority scheme

Returns a [paginated](#pagination) list of priorities by scheme.

**[Permissions](#permissions) required:** Permission to access Jira.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param schemeId The priority scheme ID.
 @return ApiGetPrioritiesByPrioritySchemeRequest
*/
func (a *PrioritySchemesAPIService) GetPrioritiesByPriorityScheme(ctx context.Context, schemeId string) ApiGetPrioritiesByPrioritySchemeRequest {
	return ApiGetPrioritiesByPrioritySchemeRequest{
		ApiService: a,
		ctx: ctx,
		schemeId: schemeId,
	}
}

// Execute executes the request
//  @return PageBeanPriorityWithSequence
func (a *PrioritySchemesAPIService) GetPrioritiesByPrioritySchemeExecute(r ApiGetPrioritiesByPrioritySchemeRequest) (*PageBeanPriorityWithSequence, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageBeanPriorityWithSequence
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrioritySchemesAPIService.GetPrioritiesByPriorityScheme")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/priorityscheme/{schemeId}/priorities"
	localVarPath = strings.Replace(localVarPath, "{"+"schemeId"+"}", url.PathEscape(parameterValueToString(r.schemeId, "schemeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	} else {
		var defaultValue string = "0"
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", defaultValue, "form", "")
		r.startAt = &defaultValue
	}
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", r.maxResults, "form", "")
	} else {
		var defaultValue string = "50"
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", defaultValue, "form", "")
		r.maxResults = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPrioritySchemesRequest struct {
	ctx context.Context
	ApiService *PrioritySchemesAPIService
	startAt *string
	maxResults *string
	priorityId *[]int64
	schemeId *[]int64
	schemeName *string
	onlyDefault *bool
	orderBy *string
	expand *string
}

// The index of the first item to return in a page of results (page offset).
func (r ApiGetPrioritySchemesRequest) StartAt(startAt string) ApiGetPrioritySchemesRequest {
	r.startAt = &startAt
	return r
}

// The maximum number of items to return per page.
func (r ApiGetPrioritySchemesRequest) MaxResults(maxResults string) ApiGetPrioritySchemesRequest {
	r.maxResults = &maxResults
	return r
}

// A set of priority IDs to filter by. To include multiple IDs, provide an ampersand-separated list. For example, &#x60;priorityId&#x3D;10000&amp;priorityId&#x3D;10001&#x60;.
func (r ApiGetPrioritySchemesRequest) PriorityId(priorityId []int64) ApiGetPrioritySchemesRequest {
	r.priorityId = &priorityId
	return r
}

// A set of priority scheme IDs. To include multiple IDs, provide an ampersand-separated list. For example, &#x60;schemeId&#x3D;10000&amp;schemeId&#x3D;10001&#x60;.
func (r ApiGetPrioritySchemesRequest) SchemeId(schemeId []int64) ApiGetPrioritySchemesRequest {
	r.schemeId = &schemeId
	return r
}

// The name of scheme to search for.
func (r ApiGetPrioritySchemesRequest) SchemeName(schemeName string) ApiGetPrioritySchemesRequest {
	r.schemeName = &schemeName
	return r
}

// Whether only the default priority is returned.
func (r ApiGetPrioritySchemesRequest) OnlyDefault(onlyDefault bool) ApiGetPrioritySchemesRequest {
	r.onlyDefault = &onlyDefault
	return r
}

// The ordering to return the priority schemes by.
func (r ApiGetPrioritySchemesRequest) OrderBy(orderBy string) ApiGetPrioritySchemesRequest {
	r.orderBy = &orderBy
	return r
}

// A comma separated list of additional information to return. \&quot;priorities\&quot; will return priorities associated with the priority scheme. \&quot;projects\&quot; will return projects associated with the priority scheme. &#x60;expand&#x3D;priorities,projects&#x60;.
func (r ApiGetPrioritySchemesRequest) Expand(expand string) ApiGetPrioritySchemesRequest {
	r.expand = &expand
	return r
}

func (r ApiGetPrioritySchemesRequest) Execute() (*PageBeanPrioritySchemeWithPaginatedPrioritiesAndProjects, *http.Response, error) {
	return r.ApiService.GetPrioritySchemesExecute(r)
}

/*
GetPrioritySchemes Get priority schemes

Returns a [paginated](#pagination) list of priority schemes.

**[Permissions](#permissions) required:** Permission to access Jira.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetPrioritySchemesRequest
*/
func (a *PrioritySchemesAPIService) GetPrioritySchemes(ctx context.Context) ApiGetPrioritySchemesRequest {
	return ApiGetPrioritySchemesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PageBeanPrioritySchemeWithPaginatedPrioritiesAndProjects
func (a *PrioritySchemesAPIService) GetPrioritySchemesExecute(r ApiGetPrioritySchemesRequest) (*PageBeanPrioritySchemeWithPaginatedPrioritiesAndProjects, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageBeanPrioritySchemeWithPaginatedPrioritiesAndProjects
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrioritySchemesAPIService.GetPrioritySchemes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/priorityscheme"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	} else {
		var defaultValue string = "0"
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", defaultValue, "form", "")
		r.startAt = &defaultValue
	}
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", r.maxResults, "form", "")
	} else {
		var defaultValue string = "50"
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", defaultValue, "form", "")
		r.maxResults = &defaultValue
	}
	if r.priorityId != nil {
		t := *r.priorityId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "priorityId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "priorityId", t, "form", "multi")
		}
	}
	if r.schemeId != nil {
		t := *r.schemeId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "schemeId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "schemeId", t, "form", "multi")
		}
	}
	if r.schemeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "schemeName", r.schemeName, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "schemeName", defaultValue, "form", "")
		r.schemeName = &defaultValue
	}
	if r.onlyDefault != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "onlyDefault", r.onlyDefault, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "onlyDefault", defaultValue, "form", "")
		r.onlyDefault = &defaultValue
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	} else {
		var defaultValue string = "+name"
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", defaultValue, "form", "")
		r.orderBy = &defaultValue
	}
	if r.expand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProjectsByPrioritySchemeRequest struct {
	ctx context.Context
	ApiService *PrioritySchemesAPIService
	schemeId string
	startAt *string
	maxResults *string
	projectId *[]int64
	query *string
}

// The index of the first item to return in a page of results (page offset).
func (r ApiGetProjectsByPrioritySchemeRequest) StartAt(startAt string) ApiGetProjectsByPrioritySchemeRequest {
	r.startAt = &startAt
	return r
}

// The maximum number of items to return per page.
func (r ApiGetProjectsByPrioritySchemeRequest) MaxResults(maxResults string) ApiGetProjectsByPrioritySchemeRequest {
	r.maxResults = &maxResults
	return r
}

// The project IDs to filter by. For example, &#x60;projectId&#x3D;10000&amp;projectId&#x3D;10001&#x60;.
func (r ApiGetProjectsByPrioritySchemeRequest) ProjectId(projectId []int64) ApiGetProjectsByPrioritySchemeRequest {
	r.projectId = &projectId
	return r
}

// The string to query projects on by name.
func (r ApiGetProjectsByPrioritySchemeRequest) Query(query string) ApiGetProjectsByPrioritySchemeRequest {
	r.query = &query
	return r
}

func (r ApiGetProjectsByPrioritySchemeRequest) Execute() (*PageBeanProject, *http.Response, error) {
	return r.ApiService.GetProjectsByPrioritySchemeExecute(r)
}

/*
GetProjectsByPriorityScheme Get projects by priority scheme

Returns a [paginated](#pagination) list of projects by scheme.

**[Permissions](#permissions) required:** Permission to access Jira.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param schemeId The priority scheme ID.
 @return ApiGetProjectsByPrioritySchemeRequest
*/
func (a *PrioritySchemesAPIService) GetProjectsByPriorityScheme(ctx context.Context, schemeId string) ApiGetProjectsByPrioritySchemeRequest {
	return ApiGetProjectsByPrioritySchemeRequest{
		ApiService: a,
		ctx: ctx,
		schemeId: schemeId,
	}
}

// Execute executes the request
//  @return PageBeanProject
func (a *PrioritySchemesAPIService) GetProjectsByPrioritySchemeExecute(r ApiGetProjectsByPrioritySchemeRequest) (*PageBeanProject, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageBeanProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrioritySchemesAPIService.GetProjectsByPriorityScheme")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/priorityscheme/{schemeId}/projects"
	localVarPath = strings.Replace(localVarPath, "{"+"schemeId"+"}", url.PathEscape(parameterValueToString(r.schemeId, "schemeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	} else {
		var defaultValue string = "0"
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", defaultValue, "form", "")
		r.startAt = &defaultValue
	}
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", r.maxResults, "form", "")
	} else {
		var defaultValue string = "50"
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", defaultValue, "form", "")
		r.maxResults = &defaultValue
	}
	if r.projectId != nil {
		t := *r.projectId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", t, "form", "multi")
		}
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	} else {
		var defaultValue string = ""
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", defaultValue, "form", "")
		r.query = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuggestedPrioritiesForMappingsRequest struct {
	ctx context.Context
	ApiService *PrioritySchemesAPIService
	suggestedMappingsRequestBean *SuggestedMappingsRequestBean
}

func (r ApiSuggestedPrioritiesForMappingsRequest) SuggestedMappingsRequestBean(suggestedMappingsRequestBean SuggestedMappingsRequestBean) ApiSuggestedPrioritiesForMappingsRequest {
	r.suggestedMappingsRequestBean = &suggestedMappingsRequestBean
	return r
}

func (r ApiSuggestedPrioritiesForMappingsRequest) Execute() (*PageBeanPriorityWithSequence, *http.Response, error) {
	return r.ApiService.SuggestedPrioritiesForMappingsExecute(r)
}

/*
SuggestedPrioritiesForMappings Suggested priorities for mappings

Returns a [paginated](#pagination) list of priorities that would require mapping, given a change in priorities or projects associated with a priority scheme.

**[Permissions](#permissions) required:** Permission to access Jira.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSuggestedPrioritiesForMappingsRequest
*/
func (a *PrioritySchemesAPIService) SuggestedPrioritiesForMappings(ctx context.Context) ApiSuggestedPrioritiesForMappingsRequest {
	return ApiSuggestedPrioritiesForMappingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PageBeanPriorityWithSequence
func (a *PrioritySchemesAPIService) SuggestedPrioritiesForMappingsExecute(r ApiSuggestedPrioritiesForMappingsRequest) (*PageBeanPriorityWithSequence, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageBeanPriorityWithSequence
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrioritySchemesAPIService.SuggestedPrioritiesForMappings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/priorityscheme/mappings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.suggestedMappingsRequestBean == nil {
		return localVarReturnValue, nil, reportError("suggestedMappingsRequestBean is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.suggestedMappingsRequestBean
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdatePrioritySchemeRequest struct {
	ctx context.Context
	ApiService *PrioritySchemesAPIService
	schemeId int64
	updatePrioritySchemeRequestBean *UpdatePrioritySchemeRequestBean
}

func (r ApiUpdatePrioritySchemeRequest) UpdatePrioritySchemeRequestBean(updatePrioritySchemeRequestBean UpdatePrioritySchemeRequestBean) ApiUpdatePrioritySchemeRequest {
	r.updatePrioritySchemeRequestBean = &updatePrioritySchemeRequestBean
	return r
}

func (r ApiUpdatePrioritySchemeRequest) Execute() (*UpdatePrioritySchemeResponseBean, *http.Response, error) {
	return r.ApiService.UpdatePrioritySchemeExecute(r)
}

/*
UpdatePriorityScheme Update priority scheme

Updates a priority scheme. This includes its details, the lists of priorities and projects in it

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param schemeId The ID of the priority scheme.
 @return ApiUpdatePrioritySchemeRequest
*/
func (a *PrioritySchemesAPIService) UpdatePriorityScheme(ctx context.Context, schemeId int64) ApiUpdatePrioritySchemeRequest {
	return ApiUpdatePrioritySchemeRequest{
		ApiService: a,
		ctx: ctx,
		schemeId: schemeId,
	}
}

// Execute executes the request
//  @return UpdatePrioritySchemeResponseBean
func (a *PrioritySchemesAPIService) UpdatePrioritySchemeExecute(r ApiUpdatePrioritySchemeRequest) (*UpdatePrioritySchemeResponseBean, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdatePrioritySchemeResponseBean
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrioritySchemesAPIService.UpdatePriorityScheme")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/priorityscheme/{schemeId}"
	localVarPath = strings.Replace(localVarPath, "{"+"schemeId"+"}", url.PathEscape(parameterValueToString(r.schemeId, "schemeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updatePrioritySchemeRequestBean == nil {
		return localVarReturnValue, nil, reportError("updatePrioritySchemeRequestBean is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updatePrioritySchemeRequestBean
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
