/*
The Jira Cloud platform REST API

Jira Cloud platform REST API documentation

API version: 1001.0.0-SNAPSHOT-e4f05783a723054bc221d0780e48a2dc2ed25997
Contact: ecosystem@atlassian.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package swagger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AppMigrationAPIService AppMigrationAPI service
type AppMigrationAPIService service

type ApiAppIssueFieldValueUpdateResourceUpdateIssueFieldsPutRequest struct {
	ctx context.Context
	ApiService *AppMigrationAPIService
	atlassianTransferId *string
	connectCustomFieldValues *ConnectCustomFieldValues
}

// The ID of the transfer.
func (r ApiAppIssueFieldValueUpdateResourceUpdateIssueFieldsPutRequest) AtlassianTransferId(atlassianTransferId string) ApiAppIssueFieldValueUpdateResourceUpdateIssueFieldsPutRequest {
	r.atlassianTransferId = &atlassianTransferId
	return r
}

func (r ApiAppIssueFieldValueUpdateResourceUpdateIssueFieldsPutRequest) ConnectCustomFieldValues(connectCustomFieldValues ConnectCustomFieldValues) ApiAppIssueFieldValueUpdateResourceUpdateIssueFieldsPutRequest {
	r.connectCustomFieldValues = &connectCustomFieldValues
	return r
}

func (r ApiAppIssueFieldValueUpdateResourceUpdateIssueFieldsPutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AppIssueFieldValueUpdateResourceUpdateIssueFieldsPutExecute(r)
}

/*
AppIssueFieldValueUpdateResourceUpdateIssueFieldsPut Bulk update custom field value

Updates the value of a custom field added by Connect apps on one or more issues.
The values of up to 200 custom fields can be updated.

**[Permissions](#permissions) required:** Only Connect apps can make this request

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAppIssueFieldValueUpdateResourceUpdateIssueFieldsPutRequest
*/
func (a *AppMigrationAPIService) AppIssueFieldValueUpdateResourceUpdateIssueFieldsPut(ctx context.Context) ApiAppIssueFieldValueUpdateResourceUpdateIssueFieldsPutRequest {
	return ApiAppIssueFieldValueUpdateResourceUpdateIssueFieldsPutRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AppMigrationAPIService) AppIssueFieldValueUpdateResourceUpdateIssueFieldsPutExecute(r ApiAppIssueFieldValueUpdateResourceUpdateIssueFieldsPutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppMigrationAPIService.AppIssueFieldValueUpdateResourceUpdateIssueFieldsPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/atlassian-connect/1/migration/field"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.atlassianTransferId == nil {
		return localVarReturnValue, nil, reportError("atlassianTransferId is required and must be specified")
	}
	if r.connectCustomFieldValues == nil {
		return localVarReturnValue, nil, reportError("connectCustomFieldValues is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Atlassian-Transfer-Id", r.atlassianTransferId, "simple", "")
	// body params
	localVarPostBody = r.connectCustomFieldValues
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMigrationResourceUpdateEntityPropertiesValuePutRequest struct {
	ctx context.Context
	ApiService *AppMigrationAPIService
	atlassianTransferId *string
	entityType string
	entityPropertyDetails *[]EntityPropertyDetails
}

// The app migration transfer ID.
func (r ApiMigrationResourceUpdateEntityPropertiesValuePutRequest) AtlassianTransferId(atlassianTransferId string) ApiMigrationResourceUpdateEntityPropertiesValuePutRequest {
	r.atlassianTransferId = &atlassianTransferId
	return r
}

func (r ApiMigrationResourceUpdateEntityPropertiesValuePutRequest) EntityPropertyDetails(entityPropertyDetails []EntityPropertyDetails) ApiMigrationResourceUpdateEntityPropertiesValuePutRequest {
	r.entityPropertyDetails = &entityPropertyDetails
	return r
}

func (r ApiMigrationResourceUpdateEntityPropertiesValuePutRequest) Execute() (*http.Response, error) {
	return r.ApiService.MigrationResourceUpdateEntityPropertiesValuePutExecute(r)
}

/*
MigrationResourceUpdateEntityPropertiesValuePut Bulk update entity properties

Updates the values of multiple entity properties for an object, up to 50 updates per request. This operation is for use by Connect apps during app migration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param entityType The type indicating the object that contains the entity properties.
 @return ApiMigrationResourceUpdateEntityPropertiesValuePutRequest
*/
func (a *AppMigrationAPIService) MigrationResourceUpdateEntityPropertiesValuePut(ctx context.Context, entityType string) ApiMigrationResourceUpdateEntityPropertiesValuePutRequest {
	return ApiMigrationResourceUpdateEntityPropertiesValuePutRequest{
		ApiService: a,
		ctx: ctx,
		entityType: entityType,
	}
}

// Execute executes the request
func (a *AppMigrationAPIService) MigrationResourceUpdateEntityPropertiesValuePutExecute(r ApiMigrationResourceUpdateEntityPropertiesValuePutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppMigrationAPIService.MigrationResourceUpdateEntityPropertiesValuePut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/atlassian-connect/1/migration/properties/{entityType}"
	localVarPath = strings.Replace(localVarPath, "{"+"entityType"+"}", url.PathEscape(parameterValueToString(r.entityType, "entityType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.atlassianTransferId == nil {
		return nil, reportError("atlassianTransferId is required and must be specified")
	}
	if r.entityPropertyDetails == nil {
		return nil, reportError("entityPropertyDetails is required and must be specified")
	}
	if len(*r.entityPropertyDetails) < 1 {
		return nil, reportError("entityPropertyDetails must have at least 1 elements")
	}
	if len(*r.entityPropertyDetails) > 50 {
		return nil, reportError("entityPropertyDetails must have less than 50 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Atlassian-Transfer-Id", r.atlassianTransferId, "simple", "")
	// body params
	localVarPostBody = r.entityPropertyDetails
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMigrationResourceWorkflowRuleSearchPostRequest struct {
	ctx context.Context
	ApiService *AppMigrationAPIService
	atlassianTransferId *string
	workflowRulesSearch *WorkflowRulesSearch
}

// The app migration transfer ID.
func (r ApiMigrationResourceWorkflowRuleSearchPostRequest) AtlassianTransferId(atlassianTransferId string) ApiMigrationResourceWorkflowRuleSearchPostRequest {
	r.atlassianTransferId = &atlassianTransferId
	return r
}

func (r ApiMigrationResourceWorkflowRuleSearchPostRequest) WorkflowRulesSearch(workflowRulesSearch WorkflowRulesSearch) ApiMigrationResourceWorkflowRuleSearchPostRequest {
	r.workflowRulesSearch = &workflowRulesSearch
	return r
}

func (r ApiMigrationResourceWorkflowRuleSearchPostRequest) Execute() (*WorkflowRulesSearchDetails, *http.Response, error) {
	return r.ApiService.MigrationResourceWorkflowRuleSearchPostExecute(r)
}

/*
MigrationResourceWorkflowRuleSearchPost Get workflow transition rule configurations

Returns configurations for workflow transition rules migrated from server to cloud and owned by the calling Connect app.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMigrationResourceWorkflowRuleSearchPostRequest
*/
func (a *AppMigrationAPIService) MigrationResourceWorkflowRuleSearchPost(ctx context.Context) ApiMigrationResourceWorkflowRuleSearchPostRequest {
	return ApiMigrationResourceWorkflowRuleSearchPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WorkflowRulesSearchDetails
func (a *AppMigrationAPIService) MigrationResourceWorkflowRuleSearchPostExecute(r ApiMigrationResourceWorkflowRuleSearchPostRequest) (*WorkflowRulesSearchDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowRulesSearchDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppMigrationAPIService.MigrationResourceWorkflowRuleSearchPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/atlassian-connect/1/migration/workflow/rule/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.atlassianTransferId == nil {
		return localVarReturnValue, nil, reportError("atlassianTransferId is required and must be specified")
	}
	if r.workflowRulesSearch == nil {
		return localVarReturnValue, nil, reportError("workflowRulesSearch is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Atlassian-Transfer-Id", r.atlassianTransferId, "simple", "")
	// body params
	localVarPostBody = r.workflowRulesSearch
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
