/*
The Jira Cloud platform REST API

Jira Cloud platform REST API documentation

API version: 1001.0.0-SNAPSHOT-e4f05783a723054bc221d0780e48a2dc2ed25997
Contact: ecosystem@atlassian.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package swagger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// IssueCustomFieldConfigurationAppsAPIService IssueCustomFieldConfigurationAppsAPI service
type IssueCustomFieldConfigurationAppsAPIService service

type ApiGetCustomFieldConfigurationRequest struct {
	ctx context.Context
	ApiService *IssueCustomFieldConfigurationAppsAPIService
	fieldIdOrKey string
	id *[]int64
	fieldContextId *[]int64
	issueId *int64
	projectKeyOrId *string
	issueTypeId *string
	startAt *int64
	maxResults *int32
}

// The list of configuration IDs. To include multiple configurations, separate IDs with an ampersand: &#x60;id&#x3D;10000&amp;id&#x3D;10001&#x60;. Can&#39;t be provided with &#x60;fieldContextId&#x60;, &#x60;issueId&#x60;, &#x60;projectKeyOrId&#x60;, or &#x60;issueTypeId&#x60;.
func (r ApiGetCustomFieldConfigurationRequest) Id(id []int64) ApiGetCustomFieldConfigurationRequest {
	r.id = &id
	return r
}

// The list of field context IDs. To include multiple field contexts, separate IDs with an ampersand: &#x60;fieldContextId&#x3D;10000&amp;fieldContextId&#x3D;10001&#x60;. Can&#39;t be provided with &#x60;id&#x60;, &#x60;issueId&#x60;, &#x60;projectKeyOrId&#x60;, or &#x60;issueTypeId&#x60;.
func (r ApiGetCustomFieldConfigurationRequest) FieldContextId(fieldContextId []int64) ApiGetCustomFieldConfigurationRequest {
	r.fieldContextId = &fieldContextId
	return r
}

// The ID of the issue to filter results by. If the issue doesn&#39;t exist, an empty list is returned. Can&#39;t be provided with &#x60;projectKeyOrId&#x60;, or &#x60;issueTypeId&#x60;.
func (r ApiGetCustomFieldConfigurationRequest) IssueId(issueId int64) ApiGetCustomFieldConfigurationRequest {
	r.issueId = &issueId
	return r
}

// The ID or key of the project to filter results by. Must be provided with &#x60;issueTypeId&#x60;. Can&#39;t be provided with &#x60;issueId&#x60;.
func (r ApiGetCustomFieldConfigurationRequest) ProjectKeyOrId(projectKeyOrId string) ApiGetCustomFieldConfigurationRequest {
	r.projectKeyOrId = &projectKeyOrId
	return r
}

// The ID of the issue type to filter results by. Must be provided with &#x60;projectKeyOrId&#x60;. Can&#39;t be provided with &#x60;issueId&#x60;.
func (r ApiGetCustomFieldConfigurationRequest) IssueTypeId(issueTypeId string) ApiGetCustomFieldConfigurationRequest {
	r.issueTypeId = &issueTypeId
	return r
}

// The index of the first item to return in a page of results (page offset).
func (r ApiGetCustomFieldConfigurationRequest) StartAt(startAt int64) ApiGetCustomFieldConfigurationRequest {
	r.startAt = &startAt
	return r
}

// The maximum number of items to return per page.
func (r ApiGetCustomFieldConfigurationRequest) MaxResults(maxResults int32) ApiGetCustomFieldConfigurationRequest {
	r.maxResults = &maxResults
	return r
}

func (r ApiGetCustomFieldConfigurationRequest) Execute() (*PageBeanContextualConfiguration, *http.Response, error) {
	return r.ApiService.GetCustomFieldConfigurationExecute(r)
}

/*
GetCustomFieldConfiguration Get custom field configurations

Returns a [paginated](#pagination) list of configurations for a custom field of a [type](https://developer.atlassian.com/platform/forge/manifest-reference/modules/jira-custom-field-type/) created by a [Forge app](https://developer.atlassian.com/platform/forge/).

The result can be filtered by one of these criteria:

 *  `id`.
 *  `fieldContextId`.
 *  `issueId`.
 *  `projectKeyOrId` and `issueTypeId`.

Otherwise, all configurations are returned.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the Forge app that provided the custom field type.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fieldIdOrKey The ID or key of the custom field, for example `customfield_10000`.
 @return ApiGetCustomFieldConfigurationRequest
*/
func (a *IssueCustomFieldConfigurationAppsAPIService) GetCustomFieldConfiguration(ctx context.Context, fieldIdOrKey string) ApiGetCustomFieldConfigurationRequest {
	return ApiGetCustomFieldConfigurationRequest{
		ApiService: a,
		ctx: ctx,
		fieldIdOrKey: fieldIdOrKey,
	}
}

// Execute executes the request
//  @return PageBeanContextualConfiguration
func (a *IssueCustomFieldConfigurationAppsAPIService) GetCustomFieldConfigurationExecute(r ApiGetCustomFieldConfigurationRequest) (*PageBeanContextualConfiguration, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageBeanContextualConfiguration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueCustomFieldConfigurationAppsAPIService.GetCustomFieldConfiguration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/app/field/{fieldIdOrKey}/context/configuration"
	localVarPath = strings.Replace(localVarPath, "{"+"fieldIdOrKey"+"}", url.PathEscape(parameterValueToString(r.fieldIdOrKey, "fieldIdOrKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.fieldContextId != nil {
		t := *r.fieldContextId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fieldContextId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fieldContextId", t, "form", "multi")
		}
	}
	if r.issueId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "issueId", r.issueId, "form", "")
	}
	if r.projectKeyOrId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectKeyOrId", r.projectKeyOrId, "form", "")
	}
	if r.issueTypeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "issueTypeId", r.issueTypeId, "form", "")
	}
	if r.startAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	} else {
		var defaultValue int64 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", defaultValue, "form", "")
		r.startAt = &defaultValue
	}
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", r.maxResults, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", defaultValue, "form", "")
		r.maxResults = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCustomFieldsConfigurationsRequest struct {
	ctx context.Context
	ApiService *IssueCustomFieldConfigurationAppsAPIService
	configurationsListParameters *ConfigurationsListParameters
	id *[]int64
	fieldContextId *[]int64
	issueId *int64
	projectKeyOrId *string
	issueTypeId *string
	startAt *int64
	maxResults *int32
}

func (r ApiGetCustomFieldsConfigurationsRequest) ConfigurationsListParameters(configurationsListParameters ConfigurationsListParameters) ApiGetCustomFieldsConfigurationsRequest {
	r.configurationsListParameters = &configurationsListParameters
	return r
}

// The list of configuration IDs. To include multiple configurations, separate IDs with an ampersand: &#x60;id&#x3D;10000&amp;id&#x3D;10001&#x60;. Can&#39;t be provided with &#x60;fieldContextId&#x60;, &#x60;issueId&#x60;, &#x60;projectKeyOrId&#x60;, or &#x60;issueTypeId&#x60;.
func (r ApiGetCustomFieldsConfigurationsRequest) Id(id []int64) ApiGetCustomFieldsConfigurationsRequest {
	r.id = &id
	return r
}

// The list of field context IDs. To include multiple field contexts, separate IDs with an ampersand: &#x60;fieldContextId&#x3D;10000&amp;fieldContextId&#x3D;10001&#x60;. Can&#39;t be provided with &#x60;id&#x60;, &#x60;issueId&#x60;, &#x60;projectKeyOrId&#x60;, or &#x60;issueTypeId&#x60;.
func (r ApiGetCustomFieldsConfigurationsRequest) FieldContextId(fieldContextId []int64) ApiGetCustomFieldsConfigurationsRequest {
	r.fieldContextId = &fieldContextId
	return r
}

// The ID of the issue to filter results by. If the issue doesn&#39;t exist, an empty list is returned. Can&#39;t be provided with &#x60;projectKeyOrId&#x60;, or &#x60;issueTypeId&#x60;.
func (r ApiGetCustomFieldsConfigurationsRequest) IssueId(issueId int64) ApiGetCustomFieldsConfigurationsRequest {
	r.issueId = &issueId
	return r
}

// The ID or key of the project to filter results by. Must be provided with &#x60;issueTypeId&#x60;. Can&#39;t be provided with &#x60;issueId&#x60;.
func (r ApiGetCustomFieldsConfigurationsRequest) ProjectKeyOrId(projectKeyOrId string) ApiGetCustomFieldsConfigurationsRequest {
	r.projectKeyOrId = &projectKeyOrId
	return r
}

// The ID of the issue type to filter results by. Must be provided with &#x60;projectKeyOrId&#x60;. Can&#39;t be provided with &#x60;issueId&#x60;.
func (r ApiGetCustomFieldsConfigurationsRequest) IssueTypeId(issueTypeId string) ApiGetCustomFieldsConfigurationsRequest {
	r.issueTypeId = &issueTypeId
	return r
}

// The index of the first item to return in a page of results (page offset).
func (r ApiGetCustomFieldsConfigurationsRequest) StartAt(startAt int64) ApiGetCustomFieldsConfigurationsRequest {
	r.startAt = &startAt
	return r
}

// The maximum number of items to return per page.
func (r ApiGetCustomFieldsConfigurationsRequest) MaxResults(maxResults int32) ApiGetCustomFieldsConfigurationsRequest {
	r.maxResults = &maxResults
	return r
}

func (r ApiGetCustomFieldsConfigurationsRequest) Execute() (*PageBeanBulkContextualConfiguration, *http.Response, error) {
	return r.ApiService.GetCustomFieldsConfigurationsExecute(r)
}

/*
GetCustomFieldsConfigurations Bulk get custom field configurations

Returns a [paginated](#pagination) list of configurations for list of custom fields of a [type](https://developer.atlassian.com/platform/forge/manifest-reference/modules/jira-custom-field-type/) created by a [Forge app](https://developer.atlassian.com/platform/forge/).

The result can be filtered by one of these criteria:

 *  `id`.
 *  `fieldContextId`.
 *  `issueId`.
 *  `projectKeyOrId` and `issueTypeId`.

Otherwise, all configurations for the provided list of custom fields are returned.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the Forge app that provided the custom field type.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCustomFieldsConfigurationsRequest
*/
func (a *IssueCustomFieldConfigurationAppsAPIService) GetCustomFieldsConfigurations(ctx context.Context) ApiGetCustomFieldsConfigurationsRequest {
	return ApiGetCustomFieldsConfigurationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PageBeanBulkContextualConfiguration
func (a *IssueCustomFieldConfigurationAppsAPIService) GetCustomFieldsConfigurationsExecute(r ApiGetCustomFieldsConfigurationsRequest) (*PageBeanBulkContextualConfiguration, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageBeanBulkContextualConfiguration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueCustomFieldConfigurationAppsAPIService.GetCustomFieldsConfigurations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/app/field/context/configuration/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.configurationsListParameters == nil {
		return localVarReturnValue, nil, reportError("configurationsListParameters is required and must be specified")
	}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.fieldContextId != nil {
		t := *r.fieldContextId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fieldContextId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fieldContextId", t, "form", "multi")
		}
	}
	if r.issueId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "issueId", r.issueId, "form", "")
	}
	if r.projectKeyOrId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectKeyOrId", r.projectKeyOrId, "form", "")
	}
	if r.issueTypeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "issueTypeId", r.issueTypeId, "form", "")
	}
	if r.startAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	} else {
		var defaultValue int64 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", defaultValue, "form", "")
		r.startAt = &defaultValue
	}
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", r.maxResults, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", defaultValue, "form", "")
		r.maxResults = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.configurationsListParameters
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateCustomFieldConfigurationRequest struct {
	ctx context.Context
	ApiService *IssueCustomFieldConfigurationAppsAPIService
	fieldIdOrKey string
	customFieldConfigurations *CustomFieldConfigurations
}

func (r ApiUpdateCustomFieldConfigurationRequest) CustomFieldConfigurations(customFieldConfigurations CustomFieldConfigurations) ApiUpdateCustomFieldConfigurationRequest {
	r.customFieldConfigurations = &customFieldConfigurations
	return r
}

func (r ApiUpdateCustomFieldConfigurationRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.UpdateCustomFieldConfigurationExecute(r)
}

/*
UpdateCustomFieldConfiguration Update custom field configurations

Update the configuration for contexts of a custom field of a [type](https://developer.atlassian.com/platform/forge/manifest-reference/modules/jira-custom-field-type/) created by a [Forge app](https://developer.atlassian.com/platform/forge/).

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the Forge app that created the custom field type.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fieldIdOrKey The ID or key of the custom field, for example `customfield_10000`.
 @return ApiUpdateCustomFieldConfigurationRequest
*/
func (a *IssueCustomFieldConfigurationAppsAPIService) UpdateCustomFieldConfiguration(ctx context.Context, fieldIdOrKey string) ApiUpdateCustomFieldConfigurationRequest {
	return ApiUpdateCustomFieldConfigurationRequest{
		ApiService: a,
		ctx: ctx,
		fieldIdOrKey: fieldIdOrKey,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IssueCustomFieldConfigurationAppsAPIService) UpdateCustomFieldConfigurationExecute(r ApiUpdateCustomFieldConfigurationRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueCustomFieldConfigurationAppsAPIService.UpdateCustomFieldConfiguration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/app/field/{fieldIdOrKey}/context/configuration"
	localVarPath = strings.Replace(localVarPath, "{"+"fieldIdOrKey"+"}", url.PathEscape(parameterValueToString(r.fieldIdOrKey, "fieldIdOrKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customFieldConfigurations == nil {
		return localVarReturnValue, nil, reportError("customFieldConfigurations is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customFieldConfigurations
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
