/*
The Jira Cloud platform REST API

Jira Cloud platform REST API documentation

API version: 1001.0.0-SNAPSHOT-e4f05783a723054bc221d0780e48a2dc2ed25997
Contact: ecosystem@atlassian.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package swagger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// IssueCustomFieldOptionsAppsAPIService IssueCustomFieldOptionsAppsAPI service
type IssueCustomFieldOptionsAppsAPIService service

type ApiCreateIssueFieldOptionRequest struct {
	ctx context.Context
	ApiService *IssueCustomFieldOptionsAppsAPIService
	fieldKey string
	issueFieldOptionCreateBean *IssueFieldOptionCreateBean
}

func (r ApiCreateIssueFieldOptionRequest) IssueFieldOptionCreateBean(issueFieldOptionCreateBean IssueFieldOptionCreateBean) ApiCreateIssueFieldOptionRequest {
	r.issueFieldOptionCreateBean = &issueFieldOptionCreateBean
	return r
}

func (r ApiCreateIssueFieldOptionRequest) Execute() (*IssueFieldOption, *http.Response, error) {
	return r.ApiService.CreateIssueFieldOptionExecute(r)
}

/*
CreateIssueFieldOption Create issue field option

Creates an option for a select list issue field.

Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.

Each field can have a maximum of 10000 options, and each option can have a maximum of 10000 scopes.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the app providing the field.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fieldKey The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:   *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.  *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`
 @return ApiCreateIssueFieldOptionRequest
*/
func (a *IssueCustomFieldOptionsAppsAPIService) CreateIssueFieldOption(ctx context.Context, fieldKey string) ApiCreateIssueFieldOptionRequest {
	return ApiCreateIssueFieldOptionRequest{
		ApiService: a,
		ctx: ctx,
		fieldKey: fieldKey,
	}
}

// Execute executes the request
//  @return IssueFieldOption
func (a *IssueCustomFieldOptionsAppsAPIService) CreateIssueFieldOptionExecute(r ApiCreateIssueFieldOptionRequest) (*IssueFieldOption, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IssueFieldOption
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueCustomFieldOptionsAppsAPIService.CreateIssueFieldOption")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/field/{fieldKey}/option"
	localVarPath = strings.Replace(localVarPath, "{"+"fieldKey"+"}", url.PathEscape(parameterValueToString(r.fieldKey, "fieldKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.issueFieldOptionCreateBean == nil {
		return localVarReturnValue, nil, reportError("issueFieldOptionCreateBean is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.issueFieldOptionCreateBean
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteIssueFieldOptionRequest struct {
	ctx context.Context
	ApiService *IssueCustomFieldOptionsAppsAPIService
	fieldKey string
	optionId int64
}

func (r ApiDeleteIssueFieldOptionRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteIssueFieldOptionExecute(r)
}

/*
DeleteIssueFieldOption Delete issue field option

Deletes an option from a select list issue field.

Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the app providing the field.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fieldKey The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:   *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.  *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`
 @param optionId The ID of the option to be deleted.
 @return ApiDeleteIssueFieldOptionRequest
*/
func (a *IssueCustomFieldOptionsAppsAPIService) DeleteIssueFieldOption(ctx context.Context, fieldKey string, optionId int64) ApiDeleteIssueFieldOptionRequest {
	return ApiDeleteIssueFieldOptionRequest{
		ApiService: a,
		ctx: ctx,
		fieldKey: fieldKey,
		optionId: optionId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IssueCustomFieldOptionsAppsAPIService) DeleteIssueFieldOptionExecute(r ApiDeleteIssueFieldOptionRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueCustomFieldOptionsAppsAPIService.DeleteIssueFieldOption")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/field/{fieldKey}/option/{optionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"fieldKey"+"}", url.PathEscape(parameterValueToString(r.fieldKey, "fieldKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"optionId"+"}", url.PathEscape(parameterValueToString(r.optionId, "optionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAllIssueFieldOptionsRequest struct {
	ctx context.Context
	ApiService *IssueCustomFieldOptionsAppsAPIService
	fieldKey string
	startAt *int64
	maxResults *int32
}

// The index of the first item to return in a page of results (page offset).
func (r ApiGetAllIssueFieldOptionsRequest) StartAt(startAt int64) ApiGetAllIssueFieldOptionsRequest {
	r.startAt = &startAt
	return r
}

// The maximum number of items to return per page.
func (r ApiGetAllIssueFieldOptionsRequest) MaxResults(maxResults int32) ApiGetAllIssueFieldOptionsRequest {
	r.maxResults = &maxResults
	return r
}

func (r ApiGetAllIssueFieldOptionsRequest) Execute() (*PageBeanIssueFieldOption, *http.Response, error) {
	return r.ApiService.GetAllIssueFieldOptionsExecute(r)
}

/*
GetAllIssueFieldOptions Get all issue field options

Returns a [paginated](#pagination) list of all the options of a select list issue field. A select list issue field is a type of [issue field](https://developer.atlassian.com/cloud/jira/platform/modules/issue-field/) that enables a user to select a value from a list of options.

Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the app providing the field.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fieldKey The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:   *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.  *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`
 @return ApiGetAllIssueFieldOptionsRequest
*/
func (a *IssueCustomFieldOptionsAppsAPIService) GetAllIssueFieldOptions(ctx context.Context, fieldKey string) ApiGetAllIssueFieldOptionsRequest {
	return ApiGetAllIssueFieldOptionsRequest{
		ApiService: a,
		ctx: ctx,
		fieldKey: fieldKey,
	}
}

// Execute executes the request
//  @return PageBeanIssueFieldOption
func (a *IssueCustomFieldOptionsAppsAPIService) GetAllIssueFieldOptionsExecute(r ApiGetAllIssueFieldOptionsRequest) (*PageBeanIssueFieldOption, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageBeanIssueFieldOption
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueCustomFieldOptionsAppsAPIService.GetAllIssueFieldOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/field/{fieldKey}/option"
	localVarPath = strings.Replace(localVarPath, "{"+"fieldKey"+"}", url.PathEscape(parameterValueToString(r.fieldKey, "fieldKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	} else {
		var defaultValue int64 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", defaultValue, "form", "")
		r.startAt = &defaultValue
	}
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", r.maxResults, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", defaultValue, "form", "")
		r.maxResults = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetIssueFieldOptionRequest struct {
	ctx context.Context
	ApiService *IssueCustomFieldOptionsAppsAPIService
	fieldKey string
	optionId int64
}

func (r ApiGetIssueFieldOptionRequest) Execute() (*IssueFieldOption, *http.Response, error) {
	return r.ApiService.GetIssueFieldOptionExecute(r)
}

/*
GetIssueFieldOption Get issue field option

Returns an option from a select list issue field.

Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the app providing the field.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fieldKey The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:   *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.  *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`
 @param optionId The ID of the option to be returned.
 @return ApiGetIssueFieldOptionRequest
*/
func (a *IssueCustomFieldOptionsAppsAPIService) GetIssueFieldOption(ctx context.Context, fieldKey string, optionId int64) ApiGetIssueFieldOptionRequest {
	return ApiGetIssueFieldOptionRequest{
		ApiService: a,
		ctx: ctx,
		fieldKey: fieldKey,
		optionId: optionId,
	}
}

// Execute executes the request
//  @return IssueFieldOption
func (a *IssueCustomFieldOptionsAppsAPIService) GetIssueFieldOptionExecute(r ApiGetIssueFieldOptionRequest) (*IssueFieldOption, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IssueFieldOption
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueCustomFieldOptionsAppsAPIService.GetIssueFieldOption")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/field/{fieldKey}/option/{optionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"fieldKey"+"}", url.PathEscape(parameterValueToString(r.fieldKey, "fieldKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"optionId"+"}", url.PathEscape(parameterValueToString(r.optionId, "optionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSelectableIssueFieldOptionsRequest struct {
	ctx context.Context
	ApiService *IssueCustomFieldOptionsAppsAPIService
	fieldKey string
	startAt *int64
	maxResults *int32
	projectId *int64
}

// The index of the first item to return in a page of results (page offset).
func (r ApiGetSelectableIssueFieldOptionsRequest) StartAt(startAt int64) ApiGetSelectableIssueFieldOptionsRequest {
	r.startAt = &startAt
	return r
}

// The maximum number of items to return per page.
func (r ApiGetSelectableIssueFieldOptionsRequest) MaxResults(maxResults int32) ApiGetSelectableIssueFieldOptionsRequest {
	r.maxResults = &maxResults
	return r
}

// Filters the results to options that are only available in the specified project.
func (r ApiGetSelectableIssueFieldOptionsRequest) ProjectId(projectId int64) ApiGetSelectableIssueFieldOptionsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiGetSelectableIssueFieldOptionsRequest) Execute() (*PageBeanIssueFieldOption, *http.Response, error) {
	return r.ApiService.GetSelectableIssueFieldOptionsExecute(r)
}

/*
GetSelectableIssueFieldOptions Get selectable issue field options

Returns a [paginated](#pagination) list of options for a select list issue field that can be viewed and selected by the user.

Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.

**[Permissions](#permissions) required:** Permission to access Jira.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fieldKey The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:   *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.  *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`
 @return ApiGetSelectableIssueFieldOptionsRequest
*/
func (a *IssueCustomFieldOptionsAppsAPIService) GetSelectableIssueFieldOptions(ctx context.Context, fieldKey string) ApiGetSelectableIssueFieldOptionsRequest {
	return ApiGetSelectableIssueFieldOptionsRequest{
		ApiService: a,
		ctx: ctx,
		fieldKey: fieldKey,
	}
}

// Execute executes the request
//  @return PageBeanIssueFieldOption
func (a *IssueCustomFieldOptionsAppsAPIService) GetSelectableIssueFieldOptionsExecute(r ApiGetSelectableIssueFieldOptionsRequest) (*PageBeanIssueFieldOption, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageBeanIssueFieldOption
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueCustomFieldOptionsAppsAPIService.GetSelectableIssueFieldOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/field/{fieldKey}/option/suggestions/edit"
	localVarPath = strings.Replace(localVarPath, "{"+"fieldKey"+"}", url.PathEscape(parameterValueToString(r.fieldKey, "fieldKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	} else {
		var defaultValue int64 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", defaultValue, "form", "")
		r.startAt = &defaultValue
	}
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", r.maxResults, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", defaultValue, "form", "")
		r.maxResults = &defaultValue
	}
	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetVisibleIssueFieldOptionsRequest struct {
	ctx context.Context
	ApiService *IssueCustomFieldOptionsAppsAPIService
	fieldKey string
	startAt *int64
	maxResults *int32
	projectId *int64
}

// The index of the first item to return in a page of results (page offset).
func (r ApiGetVisibleIssueFieldOptionsRequest) StartAt(startAt int64) ApiGetVisibleIssueFieldOptionsRequest {
	r.startAt = &startAt
	return r
}

// The maximum number of items to return per page.
func (r ApiGetVisibleIssueFieldOptionsRequest) MaxResults(maxResults int32) ApiGetVisibleIssueFieldOptionsRequest {
	r.maxResults = &maxResults
	return r
}

// Filters the results to options that are only available in the specified project.
func (r ApiGetVisibleIssueFieldOptionsRequest) ProjectId(projectId int64) ApiGetVisibleIssueFieldOptionsRequest {
	r.projectId = &projectId
	return r
}

func (r ApiGetVisibleIssueFieldOptionsRequest) Execute() (*PageBeanIssueFieldOption, *http.Response, error) {
	return r.ApiService.GetVisibleIssueFieldOptionsExecute(r)
}

/*
GetVisibleIssueFieldOptions Get visible issue field options

Returns a [paginated](#pagination) list of options for a select list issue field that can be viewed by the user.

Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.

**[Permissions](#permissions) required:** Permission to access Jira.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fieldKey The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:   *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.  *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`
 @return ApiGetVisibleIssueFieldOptionsRequest
*/
func (a *IssueCustomFieldOptionsAppsAPIService) GetVisibleIssueFieldOptions(ctx context.Context, fieldKey string) ApiGetVisibleIssueFieldOptionsRequest {
	return ApiGetVisibleIssueFieldOptionsRequest{
		ApiService: a,
		ctx: ctx,
		fieldKey: fieldKey,
	}
}

// Execute executes the request
//  @return PageBeanIssueFieldOption
func (a *IssueCustomFieldOptionsAppsAPIService) GetVisibleIssueFieldOptionsExecute(r ApiGetVisibleIssueFieldOptionsRequest) (*PageBeanIssueFieldOption, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageBeanIssueFieldOption
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueCustomFieldOptionsAppsAPIService.GetVisibleIssueFieldOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/field/{fieldKey}/option/suggestions/search"
	localVarPath = strings.Replace(localVarPath, "{"+"fieldKey"+"}", url.PathEscape(parameterValueToString(r.fieldKey, "fieldKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	} else {
		var defaultValue int64 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", defaultValue, "form", "")
		r.startAt = &defaultValue
	}
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", r.maxResults, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", defaultValue, "form", "")
		r.maxResults = &defaultValue
	}
	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReplaceIssueFieldOptionRequest struct {
	ctx context.Context
	ApiService *IssueCustomFieldOptionsAppsAPIService
	fieldKey string
	optionId int64
	replaceWith *int64
	jql *string
	overrideScreenSecurity *bool
	overrideEditableFlag *bool
}

// The ID of the option that will replace the currently selected option.
func (r ApiReplaceIssueFieldOptionRequest) ReplaceWith(replaceWith int64) ApiReplaceIssueFieldOptionRequest {
	r.replaceWith = &replaceWith
	return r
}

// A JQL query that specifies the issues to be updated. For example, *project&#x3D;10000*.
func (r ApiReplaceIssueFieldOptionRequest) Jql(jql string) ApiReplaceIssueFieldOptionRequest {
	r.jql = &jql
	return r
}

// Whether screen security is overridden to enable hidden fields to be edited. Available to Connect and Forge app users with admin permission.
func (r ApiReplaceIssueFieldOptionRequest) OverrideScreenSecurity(overrideScreenSecurity bool) ApiReplaceIssueFieldOptionRequest {
	r.overrideScreenSecurity = &overrideScreenSecurity
	return r
}

// Whether screen security is overridden to enable uneditable fields to be edited. Available to Connect and Forge app users with *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
func (r ApiReplaceIssueFieldOptionRequest) OverrideEditableFlag(overrideEditableFlag bool) ApiReplaceIssueFieldOptionRequest {
	r.overrideEditableFlag = &overrideEditableFlag
	return r
}

func (r ApiReplaceIssueFieldOptionRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplaceIssueFieldOptionExecute(r)
}

/*
ReplaceIssueFieldOption Replace issue field option

Deselects an issue-field select-list option from all issues where it is selected. A different option can be selected to replace the deselected option. The update can also be limited to a smaller set of issues by using a JQL query.

Connect and Forge app users with *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg) can override the screen security configuration using `overrideScreenSecurity` and `overrideEditableFlag`.

This is an [asynchronous operation](#async). The response object contains a link to the long-running task.

Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the app providing the field.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fieldKey The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:   *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.  *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`
 @param optionId The ID of the option to be deselected.
 @return ApiReplaceIssueFieldOptionRequest
*/
func (a *IssueCustomFieldOptionsAppsAPIService) ReplaceIssueFieldOption(ctx context.Context, fieldKey string, optionId int64) ApiReplaceIssueFieldOptionRequest {
	return ApiReplaceIssueFieldOptionRequest{
		ApiService: a,
		ctx: ctx,
		fieldKey: fieldKey,
		optionId: optionId,
	}
}

// Execute executes the request
func (a *IssueCustomFieldOptionsAppsAPIService) ReplaceIssueFieldOptionExecute(r ApiReplaceIssueFieldOptionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueCustomFieldOptionsAppsAPIService.ReplaceIssueFieldOption")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/field/{fieldKey}/option/{optionId}/issue"
	localVarPath = strings.Replace(localVarPath, "{"+"fieldKey"+"}", url.PathEscape(parameterValueToString(r.fieldKey, "fieldKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"optionId"+"}", url.PathEscape(parameterValueToString(r.optionId, "optionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.replaceWith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "replaceWith", r.replaceWith, "form", "")
	}
	if r.jql != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "jql", r.jql, "form", "")
	}
	if r.overrideScreenSecurity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "overrideScreenSecurity", r.overrideScreenSecurity, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "overrideScreenSecurity", defaultValue, "form", "")
		r.overrideScreenSecurity = &defaultValue
	}
	if r.overrideEditableFlag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "overrideEditableFlag", r.overrideEditableFlag, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "overrideEditableFlag", defaultValue, "form", "")
		r.overrideEditableFlag = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 303 {
			var v TaskProgressBeanRemoveOptionFromIssuesResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUpdateIssueFieldOptionRequest struct {
	ctx context.Context
	ApiService *IssueCustomFieldOptionsAppsAPIService
	fieldKey string
	optionId int64
	issueFieldOption *IssueFieldOption
}

func (r ApiUpdateIssueFieldOptionRequest) IssueFieldOption(issueFieldOption IssueFieldOption) ApiUpdateIssueFieldOptionRequest {
	r.issueFieldOption = &issueFieldOption
	return r
}

func (r ApiUpdateIssueFieldOptionRequest) Execute() (*IssueFieldOption, *http.Response, error) {
	return r.ApiService.UpdateIssueFieldOptionExecute(r)
}

/*
UpdateIssueFieldOption Update issue field option

Updates or creates an option for a select list issue field. This operation requires that the option ID is provided when creating an option, therefore, the option ID needs to be specified as a path and body parameter. The option ID provided in the path and body must be identical.

Note that this operation **only works for issue field select list options added by Connect apps**, it cannot be used with issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the app providing the field.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fieldKey The field key is specified in the following format: **$(app-key)\\_\\_$(field-key)**. For example, *example-add-on\\_\\_example-issue-field*. To determine the `fieldKey` value, do one of the following:   *  open the app's plugin descriptor, then **app-key** is the key at the top and **field-key** is the key in the `jiraIssueFields` module. **app-key** can also be found in the app listing in the Atlassian Universal Plugin Manager.  *  run [Get fields](#api-rest-api-3-field-get) and in the field details the value is returned in `key`. For example, `\"key\": \"teams-add-on__team-issue-field\"`
 @param optionId The ID of the option to be updated.
 @return ApiUpdateIssueFieldOptionRequest
*/
func (a *IssueCustomFieldOptionsAppsAPIService) UpdateIssueFieldOption(ctx context.Context, fieldKey string, optionId int64) ApiUpdateIssueFieldOptionRequest {
	return ApiUpdateIssueFieldOptionRequest{
		ApiService: a,
		ctx: ctx,
		fieldKey: fieldKey,
		optionId: optionId,
	}
}

// Execute executes the request
//  @return IssueFieldOption
func (a *IssueCustomFieldOptionsAppsAPIService) UpdateIssueFieldOptionExecute(r ApiUpdateIssueFieldOptionRequest) (*IssueFieldOption, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IssueFieldOption
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssueCustomFieldOptionsAppsAPIService.UpdateIssueFieldOption")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/field/{fieldKey}/option/{optionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"fieldKey"+"}", url.PathEscape(parameterValueToString(r.fieldKey, "fieldKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"optionId"+"}", url.PathEscape(parameterValueToString(r.optionId, "optionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.issueFieldOption == nil {
		return localVarReturnValue, nil, reportError("issueFieldOption is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.issueFieldOption
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
