/*
The Jira Cloud platform REST API

Jira Cloud platform REST API documentation

API version: 1001.0.0-SNAPSHOT-e4f05783a723054bc221d0780e48a2dc2ed25997
Contact: ecosystem@atlassian.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package swagger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WorkflowTransitionPropertiesAPIService WorkflowTransitionPropertiesAPI service
type WorkflowTransitionPropertiesAPIService service

type ApiCreateWorkflowTransitionPropertyRequest struct {
	ctx context.Context
	ApiService *WorkflowTransitionPropertiesAPIService
	transitionId int64
	key *string
	workflowName *string
	workflowTransitionProperty *WorkflowTransitionProperty
	workflowMode *string
}

// The key of the property being added, also known as the name of the property. Set this to the same value as the &#x60;key&#x60; defined in the request body.
func (r ApiCreateWorkflowTransitionPropertyRequest) Key(key string) ApiCreateWorkflowTransitionPropertyRequest {
	r.key = &key
	return r
}

// The name of the workflow that the transition belongs to.
func (r ApiCreateWorkflowTransitionPropertyRequest) WorkflowName(workflowName string) ApiCreateWorkflowTransitionPropertyRequest {
	r.workflowName = &workflowName
	return r
}

func (r ApiCreateWorkflowTransitionPropertyRequest) WorkflowTransitionProperty(workflowTransitionProperty WorkflowTransitionProperty) ApiCreateWorkflowTransitionPropertyRequest {
	r.workflowTransitionProperty = &workflowTransitionProperty
	return r
}

// The workflow status. Set to *live* for inactive workflows or *draft* for draft workflows. Active workflows cannot be edited.
func (r ApiCreateWorkflowTransitionPropertyRequest) WorkflowMode(workflowMode string) ApiCreateWorkflowTransitionPropertyRequest {
	r.workflowMode = &workflowMode
	return r
}

func (r ApiCreateWorkflowTransitionPropertyRequest) Execute() (*WorkflowTransitionProperty, *http.Response, error) {
	return r.ApiService.CreateWorkflowTransitionPropertyExecute(r)
}

/*
CreateWorkflowTransitionProperty Create workflow transition property

This will be removed on [June 1, 2026](https://developer.atlassian.com/cloud/jira/platform/changelog/#CHANGE-2570); add transition properties using [Bulk update workflows](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-workflows/#api-rest-api-3-workflows-update-post) instead.

Adds a property to a workflow transition. Transition properties are used to change the behavior of a transition. For more information, see [Transition properties](https://confluence.atlassian.com/x/zIhKLg#Advancedworkflowconfiguration-transitionproperties) and [Workflow properties](https://confluence.atlassian.com/x/JYlKLg).

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param transitionId The ID of the transition. To get the ID, view the workflow in text mode in the Jira admin settings. The ID is shown next to the transition.
 @return ApiCreateWorkflowTransitionPropertyRequest

Deprecated
*/
func (a *WorkflowTransitionPropertiesAPIService) CreateWorkflowTransitionProperty(ctx context.Context, transitionId int64) ApiCreateWorkflowTransitionPropertyRequest {
	return ApiCreateWorkflowTransitionPropertyRequest{
		ApiService: a,
		ctx: ctx,
		transitionId: transitionId,
	}
}

// Execute executes the request
//  @return WorkflowTransitionProperty
// Deprecated
func (a *WorkflowTransitionPropertiesAPIService) CreateWorkflowTransitionPropertyExecute(r ApiCreateWorkflowTransitionPropertyRequest) (*WorkflowTransitionProperty, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowTransitionProperty
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowTransitionPropertiesAPIService.CreateWorkflowTransitionProperty")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/workflow/transitions/{transitionId}/properties"
	localVarPath = strings.Replace(localVarPath, "{"+"transitionId"+"}", url.PathEscape(parameterValueToString(r.transitionId, "transitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.workflowName == nil {
		return localVarReturnValue, nil, reportError("workflowName is required and must be specified")
	}
	if r.workflowTransitionProperty == nil {
		return localVarReturnValue, nil, reportError("workflowTransitionProperty is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "workflowName", r.workflowName, "form", "")
	if r.workflowMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflowMode", r.workflowMode, "form", "")
	} else {
		var defaultValue string = "live"
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflowMode", defaultValue, "form", "")
		r.workflowMode = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workflowTransitionProperty
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteWorkflowTransitionPropertyRequest struct {
	ctx context.Context
	ApiService *WorkflowTransitionPropertiesAPIService
	transitionId int64
	key *string
	workflowName *string
	workflowMode *string
}

// The name of the transition property to delete, also known as the name of the property.
func (r ApiDeleteWorkflowTransitionPropertyRequest) Key(key string) ApiDeleteWorkflowTransitionPropertyRequest {
	r.key = &key
	return r
}

// The name of the workflow that the transition belongs to.
func (r ApiDeleteWorkflowTransitionPropertyRequest) WorkflowName(workflowName string) ApiDeleteWorkflowTransitionPropertyRequest {
	r.workflowName = &workflowName
	return r
}

// The workflow status. Set to &#x60;live&#x60; for inactive workflows or &#x60;draft&#x60; for draft workflows. Active workflows cannot be edited.
func (r ApiDeleteWorkflowTransitionPropertyRequest) WorkflowMode(workflowMode string) ApiDeleteWorkflowTransitionPropertyRequest {
	r.workflowMode = &workflowMode
	return r
}

func (r ApiDeleteWorkflowTransitionPropertyRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteWorkflowTransitionPropertyExecute(r)
}

/*
DeleteWorkflowTransitionProperty Delete workflow transition property

This will be removed on [June 1, 2026](https://developer.atlassian.com/cloud/jira/platform/changelog/#CHANGE-2570); delete transition properties using [Bulk update workflows](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-workflows/#api-rest-api-3-workflows-update-post) instead.

Deletes a property from a workflow transition. Transition properties are used to change the behavior of a transition. For more information, see [Transition properties](https://confluence.atlassian.com/x/zIhKLg#Advancedworkflowconfiguration-transitionproperties) and [Workflow properties](https://confluence.atlassian.com/x/JYlKLg).

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param transitionId The ID of the transition. To get the ID, view the workflow in text mode in the Jira admin settings. The ID is shown next to the transition.
 @return ApiDeleteWorkflowTransitionPropertyRequest

Deprecated
*/
func (a *WorkflowTransitionPropertiesAPIService) DeleteWorkflowTransitionProperty(ctx context.Context, transitionId int64) ApiDeleteWorkflowTransitionPropertyRequest {
	return ApiDeleteWorkflowTransitionPropertyRequest{
		ApiService: a,
		ctx: ctx,
		transitionId: transitionId,
	}
}

// Execute executes the request
// Deprecated
func (a *WorkflowTransitionPropertiesAPIService) DeleteWorkflowTransitionPropertyExecute(r ApiDeleteWorkflowTransitionPropertyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowTransitionPropertiesAPIService.DeleteWorkflowTransitionProperty")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/workflow/transitions/{transitionId}/properties"
	localVarPath = strings.Replace(localVarPath, "{"+"transitionId"+"}", url.PathEscape(parameterValueToString(r.transitionId, "transitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.key == nil {
		return nil, reportError("key is required and must be specified")
	}
	if r.workflowName == nil {
		return nil, reportError("workflowName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "workflowName", r.workflowName, "form", "")
	if r.workflowMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflowMode", r.workflowMode, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetWorkflowTransitionPropertiesRequest struct {
	ctx context.Context
	ApiService *WorkflowTransitionPropertiesAPIService
	transitionId int64
	workflowName *string
	includeReservedKeys *bool
	key *string
	workflowMode *string
}

// The name of the workflow that the transition belongs to.
func (r ApiGetWorkflowTransitionPropertiesRequest) WorkflowName(workflowName string) ApiGetWorkflowTransitionPropertiesRequest {
	r.workflowName = &workflowName
	return r
}

// Some properties with keys that have the *jira.* prefix are reserved, which means they are not editable. To include these properties in the results, set this parameter to *true*.
func (r ApiGetWorkflowTransitionPropertiesRequest) IncludeReservedKeys(includeReservedKeys bool) ApiGetWorkflowTransitionPropertiesRequest {
	r.includeReservedKeys = &includeReservedKeys
	return r
}

// The key of the property being returned, also known as the name of the property. If this parameter is not specified, all properties on the transition are returned.
func (r ApiGetWorkflowTransitionPropertiesRequest) Key(key string) ApiGetWorkflowTransitionPropertiesRequest {
	r.key = &key
	return r
}

// The workflow status. Set to *live* for active and inactive workflows, or *draft* for draft workflows.
func (r ApiGetWorkflowTransitionPropertiesRequest) WorkflowMode(workflowMode string) ApiGetWorkflowTransitionPropertiesRequest {
	r.workflowMode = &workflowMode
	return r
}

func (r ApiGetWorkflowTransitionPropertiesRequest) Execute() (*WorkflowTransitionProperty, *http.Response, error) {
	return r.ApiService.GetWorkflowTransitionPropertiesExecute(r)
}

/*
GetWorkflowTransitionProperties Get workflow transition properties

This will be removed on [June 1, 2026](https://developer.atlassian.com/cloud/jira/platform/changelog/#CHANGE-2570); fetch transition properties from [Bulk get workflows](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-workflows/#api-rest-api-3-workflows-post) instead.

Returns the properties on a workflow transition. Transition properties are used to change the behavior of a transition. For more information, see [Transition properties](https://confluence.atlassian.com/x/zIhKLg#Advancedworkflowconfiguration-transitionproperties) and [Workflow properties](https://confluence.atlassian.com/x/JYlKLg).

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param transitionId The ID of the transition. To get the ID, view the workflow in text mode in the Jira administration console. The ID is shown next to the transition.
 @return ApiGetWorkflowTransitionPropertiesRequest

Deprecated
*/
func (a *WorkflowTransitionPropertiesAPIService) GetWorkflowTransitionProperties(ctx context.Context, transitionId int64) ApiGetWorkflowTransitionPropertiesRequest {
	return ApiGetWorkflowTransitionPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		transitionId: transitionId,
	}
}

// Execute executes the request
//  @return WorkflowTransitionProperty
// Deprecated
func (a *WorkflowTransitionPropertiesAPIService) GetWorkflowTransitionPropertiesExecute(r ApiGetWorkflowTransitionPropertiesRequest) (*WorkflowTransitionProperty, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowTransitionProperty
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowTransitionPropertiesAPIService.GetWorkflowTransitionProperties")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/workflow/transitions/{transitionId}/properties"
	localVarPath = strings.Replace(localVarPath, "{"+"transitionId"+"}", url.PathEscape(parameterValueToString(r.transitionId, "transitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workflowName == nil {
		return localVarReturnValue, nil, reportError("workflowName is required and must be specified")
	}

	if r.includeReservedKeys != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeReservedKeys", r.includeReservedKeys, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeReservedKeys", defaultValue, "form", "")
		r.includeReservedKeys = &defaultValue
	}
	if r.key != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "workflowName", r.workflowName, "form", "")
	if r.workflowMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflowMode", r.workflowMode, "form", "")
	} else {
		var defaultValue string = "live"
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflowMode", defaultValue, "form", "")
		r.workflowMode = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateWorkflowTransitionPropertyRequest struct {
	ctx context.Context
	ApiService *WorkflowTransitionPropertiesAPIService
	transitionId int64
	key *string
	workflowName *string
	workflowTransitionProperty *WorkflowTransitionProperty
	workflowMode *string
}

// The key of the property being updated, also known as the name of the property. Set this to the same value as the &#x60;key&#x60; defined in the request body.
func (r ApiUpdateWorkflowTransitionPropertyRequest) Key(key string) ApiUpdateWorkflowTransitionPropertyRequest {
	r.key = &key
	return r
}

// The name of the workflow that the transition belongs to.
func (r ApiUpdateWorkflowTransitionPropertyRequest) WorkflowName(workflowName string) ApiUpdateWorkflowTransitionPropertyRequest {
	r.workflowName = &workflowName
	return r
}

func (r ApiUpdateWorkflowTransitionPropertyRequest) WorkflowTransitionProperty(workflowTransitionProperty WorkflowTransitionProperty) ApiUpdateWorkflowTransitionPropertyRequest {
	r.workflowTransitionProperty = &workflowTransitionProperty
	return r
}

// The workflow status. Set to &#x60;live&#x60; for inactive workflows or &#x60;draft&#x60; for draft workflows. Active workflows cannot be edited.
func (r ApiUpdateWorkflowTransitionPropertyRequest) WorkflowMode(workflowMode string) ApiUpdateWorkflowTransitionPropertyRequest {
	r.workflowMode = &workflowMode
	return r
}

func (r ApiUpdateWorkflowTransitionPropertyRequest) Execute() (*WorkflowTransitionProperty, *http.Response, error) {
	return r.ApiService.UpdateWorkflowTransitionPropertyExecute(r)
}

/*
UpdateWorkflowTransitionProperty Update workflow transition property

This will be removed on [June 1, 2026](https://developer.atlassian.com/cloud/jira/platform/changelog/#CHANGE-2570); update transition properties using [Bulk update workflows](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-workflows/#api-rest-api-3-workflows-update-post) instead.

Updates a workflow transition by changing the property value. Trying to update a property that does not exist results in a new property being added to the transition. Transition properties are used to change the behavior of a transition. For more information, see [Transition properties](https://confluence.atlassian.com/x/zIhKLg#Advancedworkflowconfiguration-transitionproperties) and [Workflow properties](https://confluence.atlassian.com/x/JYlKLg).

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param transitionId The ID of the transition. To get the ID, view the workflow in text mode in the Jira admin settings. The ID is shown next to the transition.
 @return ApiUpdateWorkflowTransitionPropertyRequest

Deprecated
*/
func (a *WorkflowTransitionPropertiesAPIService) UpdateWorkflowTransitionProperty(ctx context.Context, transitionId int64) ApiUpdateWorkflowTransitionPropertyRequest {
	return ApiUpdateWorkflowTransitionPropertyRequest{
		ApiService: a,
		ctx: ctx,
		transitionId: transitionId,
	}
}

// Execute executes the request
//  @return WorkflowTransitionProperty
// Deprecated
func (a *WorkflowTransitionPropertiesAPIService) UpdateWorkflowTransitionPropertyExecute(r ApiUpdateWorkflowTransitionPropertyRequest) (*WorkflowTransitionProperty, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowTransitionProperty
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowTransitionPropertiesAPIService.UpdateWorkflowTransitionProperty")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/workflow/transitions/{transitionId}/properties"
	localVarPath = strings.Replace(localVarPath, "{"+"transitionId"+"}", url.PathEscape(parameterValueToString(r.transitionId, "transitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.workflowName == nil {
		return localVarReturnValue, nil, reportError("workflowName is required and must be specified")
	}
	if r.workflowTransitionProperty == nil {
		return localVarReturnValue, nil, reportError("workflowTransitionProperty is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "workflowName", r.workflowName, "form", "")
	if r.workflowMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflowMode", r.workflowMode, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workflowTransitionProperty
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
