/*
The Jira Cloud platform REST API

Jira Cloud platform REST API documentation

API version: 1001.0.0-SNAPSHOT-e4f05783a723054bc221d0780e48a2dc2ed25997
Contact: ecosystem@atlassian.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package swagger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ScreenTabsAPIService ScreenTabsAPI service
type ScreenTabsAPIService service

type ApiAddScreenTabRequest struct {
	ctx context.Context
	ApiService *ScreenTabsAPIService
	screenId int64
	screenableTab *ScreenableTab
}

func (r ApiAddScreenTabRequest) ScreenableTab(screenableTab ScreenableTab) ApiAddScreenTabRequest {
	r.screenableTab = &screenableTab
	return r
}

func (r ApiAddScreenTabRequest) Execute() (*ScreenableTab, *http.Response, error) {
	return r.ApiService.AddScreenTabExecute(r)
}

/*
AddScreenTab Create screen tab

Creates a tab for a screen.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param screenId The ID of the screen.
 @return ApiAddScreenTabRequest
*/
func (a *ScreenTabsAPIService) AddScreenTab(ctx context.Context, screenId int64) ApiAddScreenTabRequest {
	return ApiAddScreenTabRequest{
		ApiService: a,
		ctx: ctx,
		screenId: screenId,
	}
}

// Execute executes the request
//  @return ScreenableTab
func (a *ScreenTabsAPIService) AddScreenTabExecute(r ApiAddScreenTabRequest) (*ScreenableTab, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ScreenableTab
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScreenTabsAPIService.AddScreenTab")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/screens/{screenId}/tabs"
	localVarPath = strings.Replace(localVarPath, "{"+"screenId"+"}", url.PathEscape(parameterValueToString(r.screenId, "screenId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.screenableTab == nil {
		return localVarReturnValue, nil, reportError("screenableTab is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.screenableTab
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteScreenTabRequest struct {
	ctx context.Context
	ApiService *ScreenTabsAPIService
	screenId int64
	tabId int64
}

func (r ApiDeleteScreenTabRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteScreenTabExecute(r)
}

/*
DeleteScreenTab Delete screen tab

Deletes a screen tab.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param screenId The ID of the screen.
 @param tabId The ID of the screen tab.
 @return ApiDeleteScreenTabRequest
*/
func (a *ScreenTabsAPIService) DeleteScreenTab(ctx context.Context, screenId int64, tabId int64) ApiDeleteScreenTabRequest {
	return ApiDeleteScreenTabRequest{
		ApiService: a,
		ctx: ctx,
		screenId: screenId,
		tabId: tabId,
	}
}

// Execute executes the request
func (a *ScreenTabsAPIService) DeleteScreenTabExecute(r ApiDeleteScreenTabRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScreenTabsAPIService.DeleteScreenTab")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/screens/{screenId}/tabs/{tabId}"
	localVarPath = strings.Replace(localVarPath, "{"+"screenId"+"}", url.PathEscape(parameterValueToString(r.screenId, "screenId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tabId"+"}", url.PathEscape(parameterValueToString(r.tabId, "tabId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetAllScreenTabsRequest struct {
	ctx context.Context
	ApiService *ScreenTabsAPIService
	screenId int64
	projectKey *string
}

// The key of the project.
func (r ApiGetAllScreenTabsRequest) ProjectKey(projectKey string) ApiGetAllScreenTabsRequest {
	r.projectKey = &projectKey
	return r
}

func (r ApiGetAllScreenTabsRequest) Execute() ([]ScreenableTab, *http.Response, error) {
	return r.ApiService.GetAllScreenTabsExecute(r)
}

/*
GetAllScreenTabs Get all screen tabs

Returns the list of tabs for a screen.

**[Permissions](#permissions) required:**

 *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
 *  *Administer projects* [project permission](https://confluence.atlassian.com/x/yodKLg) when the project key is specified, providing that the screen is associated with the project through a Screen Scheme and Issue Type Screen Scheme.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param screenId The ID of the screen.
 @return ApiGetAllScreenTabsRequest
*/
func (a *ScreenTabsAPIService) GetAllScreenTabs(ctx context.Context, screenId int64) ApiGetAllScreenTabsRequest {
	return ApiGetAllScreenTabsRequest{
		ApiService: a,
		ctx: ctx,
		screenId: screenId,
	}
}

// Execute executes the request
//  @return []ScreenableTab
func (a *ScreenTabsAPIService) GetAllScreenTabsExecute(r ApiGetAllScreenTabsRequest) ([]ScreenableTab, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ScreenableTab
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScreenTabsAPIService.GetAllScreenTabs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/screens/{screenId}/tabs"
	localVarPath = strings.Replace(localVarPath, "{"+"screenId"+"}", url.PathEscape(parameterValueToString(r.screenId, "screenId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectKey", r.projectKey, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetBulkScreenTabsRequest struct {
	ctx context.Context
	ApiService *ScreenTabsAPIService
	screenId *[]int64
	tabId *[]int64
	startAt *int64
	maxResult *int32
}

// The list of screen IDs. To include multiple screen IDs, provide an ampersand-separated list. For example, &#x60;screenId&#x3D;10000&amp;screenId&#x3D;10001&#x60;.
func (r ApiGetBulkScreenTabsRequest) ScreenId(screenId []int64) ApiGetBulkScreenTabsRequest {
	r.screenId = &screenId
	return r
}

// The list of tab IDs. To include multiple tab IDs, provide an ampersand-separated list. For example, &#x60;tabId&#x3D;10000&amp;tabId&#x3D;10001&#x60;.
func (r ApiGetBulkScreenTabsRequest) TabId(tabId []int64) ApiGetBulkScreenTabsRequest {
	r.tabId = &tabId
	return r
}

// The index of the first item to return in a page of results (page offset).
func (r ApiGetBulkScreenTabsRequest) StartAt(startAt int64) ApiGetBulkScreenTabsRequest {
	r.startAt = &startAt
	return r
}

// The maximum number of items to return per page. The maximum number is 100,
func (r ApiGetBulkScreenTabsRequest) MaxResult(maxResult int32) ApiGetBulkScreenTabsRequest {
	r.maxResult = &maxResult
	return r
}

func (r ApiGetBulkScreenTabsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetBulkScreenTabsExecute(r)
}

/*
GetBulkScreenTabs Get bulk screen tabs

Returns the list of tabs for a bulk of screens.

**[Permissions](#permissions) required:**

 *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetBulkScreenTabsRequest
*/
func (a *ScreenTabsAPIService) GetBulkScreenTabs(ctx context.Context) ApiGetBulkScreenTabsRequest {
	return ApiGetBulkScreenTabsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ScreenTabsAPIService) GetBulkScreenTabsExecute(r ApiGetBulkScreenTabsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScreenTabsAPIService.GetBulkScreenTabs")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/screens/tabs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.screenId != nil {
		t := *r.screenId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "screenId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "screenId", t, "form", "multi")
		}
	}
	if r.tabId != nil {
		t := *r.tabId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "tabId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "tabId", t, "form", "multi")
		}
	}
	if r.startAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	} else {
		var defaultValue int64 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", defaultValue, "form", "")
		r.startAt = &defaultValue
	}
	if r.maxResult != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResult", r.maxResult, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResult", defaultValue, "form", "")
		r.maxResult = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMoveScreenTabRequest struct {
	ctx context.Context
	ApiService *ScreenTabsAPIService
	screenId int64
	tabId int64
	pos int32
}

func (r ApiMoveScreenTabRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.MoveScreenTabExecute(r)
}

/*
MoveScreenTab Move screen tab

Moves a screen tab.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param screenId The ID of the screen.
 @param tabId The ID of the screen tab.
 @param pos The position of tab. The base index is 0.
 @return ApiMoveScreenTabRequest
*/
func (a *ScreenTabsAPIService) MoveScreenTab(ctx context.Context, screenId int64, tabId int64, pos int32) ApiMoveScreenTabRequest {
	return ApiMoveScreenTabRequest{
		ApiService: a,
		ctx: ctx,
		screenId: screenId,
		tabId: tabId,
		pos: pos,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ScreenTabsAPIService) MoveScreenTabExecute(r ApiMoveScreenTabRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScreenTabsAPIService.MoveScreenTab")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/screens/{screenId}/tabs/{tabId}/move/{pos}"
	localVarPath = strings.Replace(localVarPath, "{"+"screenId"+"}", url.PathEscape(parameterValueToString(r.screenId, "screenId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tabId"+"}", url.PathEscape(parameterValueToString(r.tabId, "tabId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pos"+"}", url.PathEscape(parameterValueToString(r.pos, "pos")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRenameScreenTabRequest struct {
	ctx context.Context
	ApiService *ScreenTabsAPIService
	screenId int64
	tabId int64
	screenableTab *ScreenableTab
}

func (r ApiRenameScreenTabRequest) ScreenableTab(screenableTab ScreenableTab) ApiRenameScreenTabRequest {
	r.screenableTab = &screenableTab
	return r
}

func (r ApiRenameScreenTabRequest) Execute() (*ScreenableTab, *http.Response, error) {
	return r.ApiService.RenameScreenTabExecute(r)
}

/*
RenameScreenTab Update screen tab

Updates the name of a screen tab.

**[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param screenId The ID of the screen.
 @param tabId The ID of the screen tab.
 @return ApiRenameScreenTabRequest
*/
func (a *ScreenTabsAPIService) RenameScreenTab(ctx context.Context, screenId int64, tabId int64) ApiRenameScreenTabRequest {
	return ApiRenameScreenTabRequest{
		ApiService: a,
		ctx: ctx,
		screenId: screenId,
		tabId: tabId,
	}
}

// Execute executes the request
//  @return ScreenableTab
func (a *ScreenTabsAPIService) RenameScreenTabExecute(r ApiRenameScreenTabRequest) (*ScreenableTab, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ScreenableTab
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScreenTabsAPIService.RenameScreenTab")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/screens/{screenId}/tabs/{tabId}"
	localVarPath = strings.Replace(localVarPath, "{"+"screenId"+"}", url.PathEscape(parameterValueToString(r.screenId, "screenId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tabId"+"}", url.PathEscape(parameterValueToString(r.tabId, "tabId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.screenableTab == nil {
		return localVarReturnValue, nil, reportError("screenableTab is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.screenableTab
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
