/*
The Jira Cloud platform REST API

Jira Cloud platform REST API documentation

API version: 1001.0.0-SNAPSHOT-e4f05783a723054bc221d0780e48a2dc2ed25997
Contact: ecosystem@atlassian.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package swagger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// JQLFunctionsAppsAPIService JQLFunctionsAppsAPI service
type JQLFunctionsAppsAPIService service

type ApiGetPrecomputationsRequest struct {
	ctx context.Context
	ApiService *JQLFunctionsAppsAPIService
	functionKey *[]string
	startAt *int64
	maxResults *int32
	orderBy *string
}

// The function key in format:   *  Forge: &#x60;ari:cloud:ecosystem::extension/[App ID]/[Environment ID]/static/[Function key from manifest]&#x60;  *  Connect: &#x60;[App key]__[Module key]&#x60;
func (r ApiGetPrecomputationsRequest) FunctionKey(functionKey []string) ApiGetPrecomputationsRequest {
	r.functionKey = &functionKey
	return r
}

// The index of the first item to return in a page of results (page offset).
func (r ApiGetPrecomputationsRequest) StartAt(startAt int64) ApiGetPrecomputationsRequest {
	r.startAt = &startAt
	return r
}

// The maximum number of items to return per page.
func (r ApiGetPrecomputationsRequest) MaxResults(maxResults int32) ApiGetPrecomputationsRequest {
	r.maxResults = &maxResults
	return r
}

// [Order](#ordering) the results by a field:   *  &#x60;functionKey&#x60; Sorts by the functionKey.  *  &#x60;used&#x60; Sorts by the used timestamp.  *  &#x60;created&#x60; Sorts by the created timestamp.  *  &#x60;updated&#x60; Sorts by the updated timestamp.
func (r ApiGetPrecomputationsRequest) OrderBy(orderBy string) ApiGetPrecomputationsRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiGetPrecomputationsRequest) Execute() (*PageBean2JqlFunctionPrecomputationBean, *http.Response, error) {
	return r.ApiService.GetPrecomputationsExecute(r)
}

/*
GetPrecomputations Get precomputations (apps)

Returns the list of a function's precomputations along with information about when they were created, updated, and last used. Each precomputation has a `value` \- the JQL fragment to replace the custom function clause with.

**[Permissions](#permissions) required:** This API is only accessible to apps and apps can only inspect their own functions.

The new `read:app-data:jira` OAuth scope is 100% optional now, and not using it won't break your app. However, we recommend adding it to your app's scope list because we will eventually make it mandatory.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetPrecomputationsRequest
*/
func (a *JQLFunctionsAppsAPIService) GetPrecomputations(ctx context.Context) ApiGetPrecomputationsRequest {
	return ApiGetPrecomputationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PageBean2JqlFunctionPrecomputationBean
func (a *JQLFunctionsAppsAPIService) GetPrecomputationsExecute(r ApiGetPrecomputationsRequest) (*PageBean2JqlFunctionPrecomputationBean, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageBean2JqlFunctionPrecomputationBean
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JQLFunctionsAppsAPIService.GetPrecomputations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/jql/function/computation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.functionKey != nil {
		t := *r.functionKey
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "functionKey", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "functionKey", t, "form", "multi")
		}
	}
	if r.startAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	} else {
		var defaultValue int64 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", defaultValue, "form", "")
		r.startAt = &defaultValue
	}
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", r.maxResults, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", defaultValue, "form", "")
		r.maxResults = &defaultValue
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPrecomputationsByIDRequest struct {
	ctx context.Context
	ApiService *JQLFunctionsAppsAPIService
	jqlFunctionPrecomputationGetByIdRequest *JqlFunctionPrecomputationGetByIdRequest
	orderBy *string
}

func (r ApiGetPrecomputationsByIDRequest) JqlFunctionPrecomputationGetByIdRequest(jqlFunctionPrecomputationGetByIdRequest JqlFunctionPrecomputationGetByIdRequest) ApiGetPrecomputationsByIDRequest {
	r.jqlFunctionPrecomputationGetByIdRequest = &jqlFunctionPrecomputationGetByIdRequest
	return r
}

// [Order](#ordering) the results by a field:   *  &#x60;functionKey&#x60; Sorts by the functionKey.  *  &#x60;used&#x60; Sorts by the used timestamp.  *  &#x60;created&#x60; Sorts by the created timestamp.  *  &#x60;updated&#x60; Sorts by the updated timestamp.
func (r ApiGetPrecomputationsByIDRequest) OrderBy(orderBy string) ApiGetPrecomputationsByIDRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiGetPrecomputationsByIDRequest) Execute() (*JqlFunctionPrecomputationGetByIdResponse, *http.Response, error) {
	return r.ApiService.GetPrecomputationsByIDExecute(r)
}

/*
GetPrecomputationsByID Get precomputations by ID (apps)

Returns function precomputations by IDs, along with information about when they were created, updated, and last used. Each precomputation has a `value` \- the JQL fragment to replace the custom function clause with.

**[Permissions](#permissions) required:** This API is only accessible to apps and apps can only inspect their own functions.

The new `read:app-data:jira` OAuth scope is 100% optional now, and not using it won't break your app. However, we recommend adding it to your app's scope list because we will eventually make it mandatory.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetPrecomputationsByIDRequest
*/
func (a *JQLFunctionsAppsAPIService) GetPrecomputationsByID(ctx context.Context) ApiGetPrecomputationsByIDRequest {
	return ApiGetPrecomputationsByIDRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JqlFunctionPrecomputationGetByIdResponse
func (a *JQLFunctionsAppsAPIService) GetPrecomputationsByIDExecute(r ApiGetPrecomputationsByIDRequest) (*JqlFunctionPrecomputationGetByIdResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JqlFunctionPrecomputationGetByIdResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JQLFunctionsAppsAPIService.GetPrecomputationsByID")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/jql/function/computation/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.jqlFunctionPrecomputationGetByIdRequest == nil {
		return localVarReturnValue, nil, reportError("jqlFunctionPrecomputationGetByIdRequest is required and must be specified")
	}

	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.jqlFunctionPrecomputationGetByIdRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdatePrecomputationsRequest struct {
	ctx context.Context
	ApiService *JQLFunctionsAppsAPIService
	jqlFunctionPrecomputationUpdateRequestBean *JqlFunctionPrecomputationUpdateRequestBean
	skipNotFoundPrecomputations *bool
}

func (r ApiUpdatePrecomputationsRequest) JqlFunctionPrecomputationUpdateRequestBean(jqlFunctionPrecomputationUpdateRequestBean JqlFunctionPrecomputationUpdateRequestBean) ApiUpdatePrecomputationsRequest {
	r.jqlFunctionPrecomputationUpdateRequestBean = &jqlFunctionPrecomputationUpdateRequestBean
	return r
}

func (r ApiUpdatePrecomputationsRequest) SkipNotFoundPrecomputations(skipNotFoundPrecomputations bool) ApiUpdatePrecomputationsRequest {
	r.skipNotFoundPrecomputations = &skipNotFoundPrecomputations
	return r
}

func (r ApiUpdatePrecomputationsRequest) Execute() (*JqlFunctionPrecomputationUpdateResponse, *http.Response, error) {
	return r.ApiService.UpdatePrecomputationsExecute(r)
}

/*
UpdatePrecomputations Update precomputations (apps)

Update the precomputation value of a function created by a Forge/Connect app.

**[Permissions](#permissions) required:** An API for apps to update their own precomputations.

The new `write:app-data:jira` OAuth scope is 100% optional now, and not using it won't break your app. However, we recommend adding it to your app's scope list because we will eventually make it mandatory.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdatePrecomputationsRequest
*/
func (a *JQLFunctionsAppsAPIService) UpdatePrecomputations(ctx context.Context) ApiUpdatePrecomputationsRequest {
	return ApiUpdatePrecomputationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JqlFunctionPrecomputationUpdateResponse
func (a *JQLFunctionsAppsAPIService) UpdatePrecomputationsExecute(r ApiUpdatePrecomputationsRequest) (*JqlFunctionPrecomputationUpdateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JqlFunctionPrecomputationUpdateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JQLFunctionsAppsAPIService.UpdatePrecomputations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/jql/function/computation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.jqlFunctionPrecomputationUpdateRequestBean == nil {
		return localVarReturnValue, nil, reportError("jqlFunctionPrecomputationUpdateRequestBean is required and must be specified")
	}

	if r.skipNotFoundPrecomputations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skipNotFoundPrecomputations", r.skipNotFoundPrecomputations, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "skipNotFoundPrecomputations", defaultValue, "form", "")
		r.skipNotFoundPrecomputations = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.jqlFunctionPrecomputationUpdateRequestBean
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JqlFunctionPrecomputationUpdateErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v JqlFunctionPrecomputationUpdateErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v JqlFunctionPrecomputationUpdateErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
