/*
The Jira Cloud platform REST API

Jira Cloud platform REST API documentation

API version: 1001.0.0-SNAPSHOT-e4f05783a723054bc221d0780e48a2dc2ed25997
Contact: ecosystem@atlassian.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package swagger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MigrationOfConnectModulesToForgeAPIService MigrationOfConnectModulesToForgeAPI service
type MigrationOfConnectModulesToForgeAPIService service

type ApiConnectToForgeMigrationFetchTaskResourceFetchMigrationTaskGetRequest struct {
	ctx context.Context
	ApiService *MigrationOfConnectModulesToForgeAPIService
	connectKey string
	jiraIssueFieldsKey string
}

func (r ApiConnectToForgeMigrationFetchTaskResourceFetchMigrationTaskGetRequest) Execute() (*TaskProgress, *http.Response, error) {
	return r.ApiService.ConnectToForgeMigrationFetchTaskResourceFetchMigrationTaskGetExecute(r)
}

/*
ConnectToForgeMigrationFetchTaskResourceFetchMigrationTaskGet Get Connect issue field migration task

Returns the details of a Connect issue field's migration to Forge.

When migrating a Connect app to Forge, [Issue Field](https://developer.atlassian.com/cloud/jira/software/modules/issue-field/) modules
must be converted to [Custom field](https://developer.atlassian.com/platform/forge/manifest-reference/modules/jira-custom-field/). When the
Forge version of the app is installed, Forge creates a
[background task](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-tasks/#api-group-tasks) to track the
migration of field data across. This endpoint returns the status and other details of that background task.

For more details, see
[Jira modules > Jira Custom Fields](https://developer.atlassian.com/platform/adopting-forge-from-connect/migrate-jira-custom-fields/).

**[Permissions](#permissions) required:** Only Connect and Forge apps can make this request.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectKey The key of the Connect app that contains the Jira issue field being migrated.
 @param jiraIssueFieldsKey The module key of the Connect issue field being migrated.
 @return ApiConnectToForgeMigrationFetchTaskResourceFetchMigrationTaskGetRequest
*/
func (a *MigrationOfConnectModulesToForgeAPIService) ConnectToForgeMigrationFetchTaskResourceFetchMigrationTaskGet(ctx context.Context, connectKey string, jiraIssueFieldsKey string) ApiConnectToForgeMigrationFetchTaskResourceFetchMigrationTaskGetRequest {
	return ApiConnectToForgeMigrationFetchTaskResourceFetchMigrationTaskGetRequest{
		ApiService: a,
		ctx: ctx,
		connectKey: connectKey,
		jiraIssueFieldsKey: jiraIssueFieldsKey,
	}
}

// Execute executes the request
//  @return TaskProgress
func (a *MigrationOfConnectModulesToForgeAPIService) ConnectToForgeMigrationFetchTaskResourceFetchMigrationTaskGetExecute(r ApiConnectToForgeMigrationFetchTaskResourceFetchMigrationTaskGetRequest) (*TaskProgress, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskProgress
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MigrationOfConnectModulesToForgeAPIService.ConnectToForgeMigrationFetchTaskResourceFetchMigrationTaskGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/atlassian-connect/1/migration/{connectKey}/{jiraIssueFieldsKey}/task"
	localVarPath = strings.Replace(localVarPath, "{"+"connectKey"+"}", url.PathEscape(parameterValueToString(r.connectKey, "connectKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"jiraIssueFieldsKey"+"}", url.PathEscape(parameterValueToString(r.jiraIssueFieldsKey, "jiraIssueFieldsKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v OperationMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v OperationMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
