/*
The Jira Cloud platform REST API

Jira Cloud platform REST API documentation

API version: 1001.0.0-SNAPSHOT-e4f05783a723054bc221d0780e48a2dc2ed25997
Contact: ecosystem@atlassian.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package swagger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// GroupAndUserPickerAPIService GroupAndUserPickerAPI service
type GroupAndUserPickerAPIService service

type ApiFindUsersAndGroupsRequest struct {
	ctx context.Context
	ApiService *GroupAndUserPickerAPIService
	query *string
	maxResults *int32
	showAvatar *bool
	fieldId *string
	projectId *[]string
	issueTypeId *[]string
	avatarSize *string
	caseInsensitive *bool
	excludeConnectAddons *bool
}

// The search string.
func (r ApiFindUsersAndGroupsRequest) Query(query string) ApiFindUsersAndGroupsRequest {
	r.query = &query
	return r
}

// The maximum number of items to return in each list.
func (r ApiFindUsersAndGroupsRequest) MaxResults(maxResults int32) ApiFindUsersAndGroupsRequest {
	r.maxResults = &maxResults
	return r
}

// Whether the user avatar should be returned. If an invalid value is provided, the default value is used.
func (r ApiFindUsersAndGroupsRequest) ShowAvatar(showAvatar bool) ApiFindUsersAndGroupsRequest {
	r.showAvatar = &showAvatar
	return r
}

// The custom field ID of the field this request is for.
func (r ApiFindUsersAndGroupsRequest) FieldId(fieldId string) ApiFindUsersAndGroupsRequest {
	r.fieldId = &fieldId
	return r
}

// The ID of a project that returned users and groups must have permission to view. To include multiple projects, provide an ampersand-separated list. For example, &#x60;projectId&#x3D;10000&amp;projectId&#x3D;10001&#x60;. This parameter is only used when &#x60;fieldId&#x60; is present.
func (r ApiFindUsersAndGroupsRequest) ProjectId(projectId []string) ApiFindUsersAndGroupsRequest {
	r.projectId = &projectId
	return r
}

// The ID of an issue type that returned users and groups must have permission to view. To include multiple issue types, provide an ampersand-separated list. For example, &#x60;issueTypeId&#x3D;10000&amp;issueTypeId&#x3D;10001&#x60;. Special values, such as &#x60;-1&#x60; (all standard issue types) and &#x60;-2&#x60; (all subtask issue types), are supported. This parameter is only used when &#x60;fieldId&#x60; is present.
func (r ApiFindUsersAndGroupsRequest) IssueTypeId(issueTypeId []string) ApiFindUsersAndGroupsRequest {
	r.issueTypeId = &issueTypeId
	return r
}

// The size of the avatar to return. If an invalid value is provided, the default value is used.
func (r ApiFindUsersAndGroupsRequest) AvatarSize(avatarSize string) ApiFindUsersAndGroupsRequest {
	r.avatarSize = &avatarSize
	return r
}

// Whether the search for groups should be case insensitive.
func (r ApiFindUsersAndGroupsRequest) CaseInsensitive(caseInsensitive bool) ApiFindUsersAndGroupsRequest {
	r.caseInsensitive = &caseInsensitive
	return r
}

// Whether Connect app users and groups should be excluded from the search results. If an invalid value is provided, the default value is used.
func (r ApiFindUsersAndGroupsRequest) ExcludeConnectAddons(excludeConnectAddons bool) ApiFindUsersAndGroupsRequest {
	r.excludeConnectAddons = &excludeConnectAddons
	return r
}

func (r ApiFindUsersAndGroupsRequest) Execute() (*FoundUsersAndGroups, *http.Response, error) {
	return r.ApiService.FindUsersAndGroupsExecute(r)
}

/*
FindUsersAndGroups Find users and groups

Returns a list of users and groups matching a string. The string is used:

 *  for users, to find a case-insensitive match with display name and e-mail address. Note that if a user has hidden their email address in their user profile, partial matches of the email address will not find the user. An exact match is required.
 *  for groups, to find a case-sensitive match with group name.

For example, if the string *tin* is used, records with the display name *Tina*, email address *sarah@tinplatetraining.com*, and the group *accounting* would be returned.

Optionally, the search can be refined to:

 *  the projects and issue types associated with a custom field, such as a user picker. The search can then be further refined to return only users and groups that have permission to view specific:
    
     *  projects.
     *  issue types.
    
    If multiple projects or issue types are specified, they must be a subset of those enabled for the custom field or no results are returned. For example, if a field is enabled for projects A, B, and C then the search could be limited to projects B and C. However, if the search is limited to projects B and D, nothing is returned.
 *  not return Connect app users and groups.
 *  return groups that have a case-insensitive match with the query.

The primary use case for this resource is to populate a picker field suggestion list with users or groups. To this end, the returned object includes an `html` field for each list. This field highlights the matched query term in the item name with the HTML strong tag. Also, each list is wrapped in a response object that contains a header for use in a picker, specifically *Showing X of Y matching groups*.

This operation can be accessed anonymously.

**[Permissions](#permissions) required:** *Browse users and groups* [global permission](https://confluence.atlassian.com/x/yodKLg).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindUsersAndGroupsRequest
*/
func (a *GroupAndUserPickerAPIService) FindUsersAndGroups(ctx context.Context) ApiFindUsersAndGroupsRequest {
	return ApiFindUsersAndGroupsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FoundUsersAndGroups
func (a *GroupAndUserPickerAPIService) FindUsersAndGroupsExecute(r ApiFindUsersAndGroupsRequest) (*FoundUsersAndGroups, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FoundUsersAndGroups
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupAndUserPickerAPIService.FindUsersAndGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/groupuserpicker"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", r.maxResults, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResults", defaultValue, "form", "")
		r.maxResults = &defaultValue
	}
	if r.showAvatar != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showAvatar", r.showAvatar, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "showAvatar", defaultValue, "form", "")
		r.showAvatar = &defaultValue
	}
	if r.fieldId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldId", r.fieldId, "form", "")
	}
	if r.projectId != nil {
		t := *r.projectId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", t, "form", "multi")
		}
	}
	if r.issueTypeId != nil {
		t := *r.issueTypeId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "issueTypeId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "issueTypeId", t, "form", "multi")
		}
	}
	if r.avatarSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "avatarSize", r.avatarSize, "form", "")
	} else {
		var defaultValue string = "xsmall"
		parameterAddToHeaderOrQuery(localVarQueryParams, "avatarSize", defaultValue, "form", "")
		r.avatarSize = &defaultValue
	}
	if r.caseInsensitive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "caseInsensitive", r.caseInsensitive, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "caseInsensitive", defaultValue, "form", "")
		r.caseInsensitive = &defaultValue
	}
	if r.excludeConnectAddons != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "excludeConnectAddons", r.excludeConnectAddons, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "excludeConnectAddons", defaultValue, "form", "")
		r.excludeConnectAddons = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
