/*
The Jira Cloud platform REST API

Jira Cloud platform REST API documentation

API version: 1001.0.0-SNAPSHOT-e4f05783a723054bc221d0780e48a2dc2ed25997
Contact: ecosystem@atlassian.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package swagger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// ClassificationLevelsAPIService ClassificationLevelsAPI service
type ClassificationLevelsAPIService service

type ApiGetAllUserDataClassificationLevelsRequest struct {
	ctx context.Context
	ApiService *ClassificationLevelsAPIService
	status *[]string
	orderBy *string
}

// Optional set of statuses to filter by.
func (r ApiGetAllUserDataClassificationLevelsRequest) Status(status []string) ApiGetAllUserDataClassificationLevelsRequest {
	r.status = &status
	return r
}

// Ordering of the results by a given field. If not provided, values will not be sorted.
func (r ApiGetAllUserDataClassificationLevelsRequest) OrderBy(orderBy string) ApiGetAllUserDataClassificationLevelsRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiGetAllUserDataClassificationLevelsRequest) Execute() (*DataClassificationLevelsBean, *http.Response, error) {
	return r.ApiService.GetAllUserDataClassificationLevelsExecute(r)
}

/*
GetAllUserDataClassificationLevels Get all classification levels

Returns all classification levels.

**[Permissions](#permissions) required:** None.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAllUserDataClassificationLevelsRequest
*/
func (a *ClassificationLevelsAPIService) GetAllUserDataClassificationLevels(ctx context.Context) ApiGetAllUserDataClassificationLevelsRequest {
	return ApiGetAllUserDataClassificationLevelsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DataClassificationLevelsBean
func (a *ClassificationLevelsAPIService) GetAllUserDataClassificationLevelsExecute(r ApiGetAllUserDataClassificationLevelsRequest) (*DataClassificationLevelsBean, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DataClassificationLevelsBean
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ClassificationLevelsAPIService.GetAllUserDataClassificationLevels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/api/3/classification-levels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "form", "multi")
		}
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
