/*
The Jira Cloud platform REST API

Jira Cloud platform REST API documentation

API version: 1001.0.0-SNAPSHOT-e4f05783a723054bc221d0780e48a2dc2ed25997
Contact: ecosystem@atlassian.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package swagger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// ServiceRegistryAPIService ServiceRegistryAPI service
type ServiceRegistryAPIService service

type ApiServiceRegistryResourceServicesGetRequest struct {
	ctx context.Context
	ApiService *ServiceRegistryAPIService
	serviceIds *[]string
}

// The ID of the services (the strings starting with \&quot;b:\&quot; need to be decoded in Base64).
func (r ApiServiceRegistryResourceServicesGetRequest) ServiceIds(serviceIds []string) ApiServiceRegistryResourceServicesGetRequest {
	r.serviceIds = &serviceIds
	return r
}

func (r ApiServiceRegistryResourceServicesGetRequest) Execute() ([]ServiceRegistry, *http.Response, error) {
	return r.ApiService.ServiceRegistryResourceServicesGetExecute(r)
}

/*
ServiceRegistryResourceServicesGet Retrieve the attributes of service registries

Retrieve the attributes of given service registries.

**[Permissions](#permissions) required:** Only Connect apps can make this request and the servicesIds belong to the tenant you are requesting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiServiceRegistryResourceServicesGetRequest
*/
func (a *ServiceRegistryAPIService) ServiceRegistryResourceServicesGet(ctx context.Context) ApiServiceRegistryResourceServicesGetRequest {
	return ApiServiceRegistryResourceServicesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ServiceRegistry
func (a *ServiceRegistryAPIService) ServiceRegistryResourceServicesGetExecute(r ApiServiceRegistryResourceServicesGetRequest) ([]ServiceRegistry, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ServiceRegistry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServiceRegistryAPIService.ServiceRegistryResourceServicesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rest/atlassian-connect/1/service-registry"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.serviceIds == nil {
		return localVarReturnValue, nil, reportError("serviceIds is required and must be specified")
	}
	if len(*r.serviceIds) < 1 {
		return localVarReturnValue, nil, reportError("serviceIds must have at least 1 elements")
	}
	if len(*r.serviceIds) > 20 {
		return localVarReturnValue, nil, reportError("serviceIds must have less than 20 elements")
	}

	{
		t := *r.serviceIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "serviceIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "serviceIds", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
